{% extends "base.html" %}
{% block content %}
<h1>{{ _('Add New Maker') }}</h1>
{% include 'flash.html' %}

<div class="row col-md-6" style="padding: 20px 30px;">
    {% from "_formhelpers.html" import render_field %}
    <form action="" method="post" name="addMaker">
        {{form.hidden_tag()}}
        <dl>
            {{ render_field(form.name, class="form-control") }}<br/>
            {{ render_field(form.category, class="form-control") }}<br/>
            {{ render_field(form.email, class="form-control") }}<br/>
            {{ render_field(form.standard_delivery_days, class="form-control") }}<br/>
        </dl>
        <input type="submit" value="{{ _('Save maker') }}" class="btn btn-default">
        <input type="button" class="btn btn-info" onclick="window.location.href = '{{ url_for("makers")}}'" value="{{ _('Cancel') }}"/>
    </form>
</div>
{% endblock %}