{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready(function() {
        if ($(role_select).val() != {{ USER_ROLES['ROLE_CUSTOMER'] }}) {
            $("#customer-select-div").hide();
        } else if ($(role_select).val() != {{ USER_ROLES['ROLE_MAKER'] }}) {
            $("#maker-select-div").hide();
        }

        $("#role_select").change(function() {
            if ($(this).val() == {{ USER_ROLES['ROLE_CUSTOMER'] }}) {
                $("#customer-select-div").show('fast');
                $("#maker-select-div").hide();
            } else if ($(this).val() == {{ USER_ROLES['ROLE_MAKER'] }}) {
                $("#maker-select-div").show('fast');
                $("#customer-select-div").hide();
            } else {
                $("#customer-select-div").hide('fast');
                $("#maker-select-div").hide();
            }
        });
    });
</script>

<style>
body { background-color: #eeeeee; }
</style>

<h1>{{ _('Add New User') }}</h1>
{% include 'flash.html' %}

<div class="shadowed-div row col-md-6" style="padding: 20px 30px;">
    {% from "_formhelpers.html" import render_field %}
    <form action="" method="post" name="addUser">
        {{form.hidden_tag()}}
        <dl>
            {{ render_field(form.nickname, class="form-control", style="width: 100%;") }}<br/>
            {{ render_field(form.password, class="form-control", style="width: 100%;") }}<br/>
            {{ render_field(form.confirm, class="form-control", style="width: 100%;") }}<br/>
            {{ render_field(form.email, class="form-control", style="width: 100%;") }}<br/>
            {{ render_field(form.role, id="role_select", class="form-control", style="width: 50%;") }}<br/>
            <div id="customer-select-div">
                {{ render_field(form.customer, id="customer_select", class="form-control", style="width: 50%;") }}<br/>
            </div>
            <div id="maker-select-div">
                {{ render_field(form.maker, id="maker_select", class="form-control", style="width: 50%;") }}<br/>
            </div>
            {{ render_field(form.language, class="form-control", style="width: 50%;") }}<br/>
        </dl>
        <input type="submit" value="{{ _('Save user') }}" class="btn btn-default">
        <input type="button" class="btn btn-info" onclick="window.location.href = '{{ url_for("users")}}'" value="{{ _('Cancel') }}"/>
    </form>
</div>

{% endblock %}