{% extends "base.html" %}
{% block content %}

<style>
body { background-color: #eeeeee; }
</style>

<h1>{{ _('Add New User') }}</h1>
{% include 'flash.html' %}

<div class="shadowed-div row col-md-6" style="padding: 20px 30px;">
    {% from "_formhelpers.html" import render_field %}
    <form action="" method="post" name="addUser">
        {{form.hidden_tag()}}
        <dl>
            {{ render_field(form.nickname, class="form-control", style="width: 100%;") }}
            {{ render_field(form.password, class="form-control", style="width: 100%;") }}
            {{ render_field(form.confirm, class="form-control", style="width: 100%;") }}
            {{ render_field(form.email, class="form-control", style="width: 100%;") }}
            {{ render_field(form.role, class="form-control", style="width: 50%;") }}
            {{ render_field(form.language, class="form-control", style="width: 50%;") }}
        </dl>
        <input type="submit" value="{{ _('Save user') }}" class="btn btn-default">
        <input type="button" class="btn btn-info" onclick="window.location.href = '{{ url_for("users")}}'" value="{{ _('Cancel') }}"/>
    </form>
</div>

{% endblock %}