{% extends "base.html" %}
{% block content %}

<link href="/static/css/tablesorter.css" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script src="/static/js/jquery.tablesorter.widgets.js"></script>

<script>
    $(function() {
        $('#contacts-table').tablesorter( {
            sortList: [[2,0]],
            widgets: ["saveSort"]
        });
    });
</script>

<div class="row">
    <h1>{{ _('List of Contacts') }}</h1>
    {% include 'flash.html' %}
</div>

<div class="row">
    <div style="text-align: right; padding: 10px 0px;">
        <a href="{{ url_for('addContact') }}"><input type="button" class="btn btn-default" value="{{ _('Add contact') }}"></a>
    </div>

    {% if contacts %}
    <table id="contacts-table" class="table tablesorter table-hover table-striped" style="border-top: 2px solid #DDDDDD;">
        <thead>
        <tr>
            <th class="sort-header">{{ _('Contact ID') }}</th>
            <th class="sort-header">{{ _('First Name') }}</th>
            <th class="sort-header">{{ _('Surname') }}
            <th class="sort-header">{{ _('Company') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for contact in contacts.items %}
        <tr onclick="window.location.href = '{{ url_for("editContact", id=contact.id) }}'">
        <td>{{ contact.id }}</td>
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.surname }}</td>
        <td>{{ contact.customer.company_name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <!-- PAGINATION -->
    <ul class="pager">
        {% if contacts.has_prev or contacts.has_next %}
        {% if contacts.has_prev %}
        <li class="previous"><a href="{{ url_for('contacts', page = contacts.prev_num) }}"><< {{ _('Previous') }}</a></li>
        {% else %}
        <li class="previous disabled"><a href="#"><< {{ _('Previous') }}</a></li>
        {% endif %}
        {% if contacts.has_next %}
        <li class="next"><a href="{{ url_for('contacts', page = contacts.next_num) }}">{{ _('Next') }} >></a></li>
        {% else %}
        <li class="next disabled"><a href="#">{{ _('Next') }} >></a></li>
        {% endif %}
        {% endif %}
    </ul>

    {% endif %}
</div>

{% endblock %}