{% extends "base.html" %}
{% block content %}

<link href="/static/css/tablesorter.css" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script src="/static/js/jquery.tablesorter.widgets.js"></script>

<script>
$(document).ready( function() {

    $.tablesorter.addParser({
        id: 'nohinsho_letter',
        is: function(s) {
            return false;
        },
        format: function(s, table, cell) {
            return $(cell).find('input').val();
        },
        type: 'numeric'
    });

    $('#customers-table').tablesorter( {
        sortList: [[0,0]],
        headers: {
            5: { sorter: 'nohinsho_letter', sortInitialOrder: 'asc' }
        },
        widgets: ["saveSort"]
    });

    $(".nohinsho_num").each( function() {
        var num = parseInt($(this).val()) + 65;
        $(this).closest('td').find('span').text(String.fromCharCode(num));
    });
});
</script>

<div class="row">
    <h1>{{ _('List of Customers') }}</h1>
    {% include 'flash.html' %}
</div>

<div class="row">
    <div style="text-align: right; padding: 10px 0px;">
        <a href="{{ url_for('addCustomer') }}"><input type="button" class="btn btn-default" value="{{ _('Add customer') }}"></a>
    </div>

    {% if customers %}
    <table id="customers-table" class="table tablesorter table-hover table-striped" style="border-top: 2px solid #DDDDDD;">
        <thead>
        <tr>
            <th class="sort-header" style="width: 10%; vertical-align: middle;">{{ _('Customer ID') }}</th>
            <th class="sort-header" style="width: 25%; vertical-align: middle;">{{ _('Customer Name') }}</th>
            <th class="sort-header" style="width: 25%; vertical-align: middle;">{{ _('Company Name') }}</th>
            <th class="sort-header" style="width: 10%; text-align: center; vertical-align: middle;">{{ _('Base discount') }}</th>
            <th class="sort-header" style="width: 15%; vertical-align: middle;">{{ _('Recommended by') }}</th>
            <th class="sort-header" style="width: 15%; text-align: center; vertical-align: middle;">{{ _('Next nohinsho letter') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for customer in customers.items %}
        <tr onclick="window.location.href = '{{ url_for("editCustomer", id=customer.id) }}'">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.company_name }}</td>
            <td style="text-align: center;">{{ customer.base_discount * 100 }}%</td>
            <td>{% if customer.recommender_id %}{{ customer.recommender.name }}{% endif %}</td>
            <td style="text-align: center;"><span></span>
                <input type="hidden" class="nohinsho_num" value="{% if customer.order_no is none %}0{% else %}{{ customer.order_no }}{% endif %}"/>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <!-- PAGINATION -->
    <ul class="pager">
        {% if customers.has_prev or customers.has_next %}
        {% if customers.has_prev %}
        <li class="previous"><a href="{{ url_for('customers', page = customers.prev_num) }}"><< {{ _('Previous') }}</a></li>
        {% else %}
        <li class="previous disabled"><a href="#"><< {{ _('Previous') }}</a></li>
        {% endif %}
        {% if customers.has_next %}
        <li class="next"><a href="{{ url_for('customers', page = customers.next_num) }}">{{ _('Next') }} >></a></li>
        {% else %}
        <li class="next disabled"><a href="#">{{ _('Next') }} >></a></li>
        {% endif %}
        {% endif %}
    </ul>

    {% endif %}
</div>

{% endblock %}