{% extends "base.html" %}
{% block content %}

<script>
$(document).ready( function() {
    $(".nohinsho_num").each( function() {
        var num = parseInt($(this).val()) + 65;
        $(this).closest('td').find('span').text(String.fromCharCode(num));
    });
});
</script>

<div class="row">
    <h1>{{ _('List of Customers') }}</h1>
    {% include 'flash.html' %}
</div>

<div class="row">
    <div style="text-align: right; padding: 10px 0px;">
        <a href="{{ url_for('addCustomer') }}"><input type="button" class="btn btn-default" value="{{ _('Add customer') }}"></a>
    </div>

    {% if customers %}
    <table class="table table-hover table-striped">
        <tr>
            <th style="width: 10%;">{{ _('Customer ID') }}</th>
            <th style="width: 25%;">{{ _('Customer Name') }}</th>
            <th style="width: 25%;">{{ _('Company Name') }}</th>
            <th style="width: 10%; text-align: center;">{{ _('Base discount') }}</th>
            <th style="width: 15%;">{{ _('Recommended by') }}</th>
            <th style="width: 15%; text-align: center;">{{ _('Next nohinsho letter') }}</th>
        </tr>

        {% for customer in customers.items %}
        <tr onclick="window.location.href = '{{ url_for("editCustomer", id=customer.id) }}'">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.company_name }}</td>
            <td style="text-align: center;">{{ customer.base_discount * 100 }}%</td>
            <td>{% if customer.recommender_id %}{{ customer.recommender.name }}{% endif %}</td>
            <td style="text-align: center;"><span></span>
                <input type="hidden" class="nohinsho_num" value="{% if customer.order_no is none %}0{% else %}{{ customer.order_no }}{% endif %}"/>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <!-- PAGINATION -->
    <ul class="pager">
        {% if customers.has_prev or customers.has_next %}
        {% if customers.has_prev %}
        <li class="previous"><a href="{{ url_for('customers', page = customers.prev_num) }}"><< {{ _('Previous') }}</a></li>
        {% else %}
        <li class="previous disabled"><a href="#"><< {{ _('Previous') }}</a></li>
        {% endif %}
        {% if customers.has_next %}
        <li class="next"><a href="{{ url_for('customers', page = customers.next_num) }}">{{ _('Next') }} >></a></li>
        {% else %}
        <li class="next disabled"><a href="#">{{ _('Next') }} >></a></li>
        {% endif %}
        {% endif %}
    </ul>

    {% endif %}
</div>

{% endblock %}