{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready(function() {
        $("#category_select").val({{ selected }});

        $("#btn_delete").click(function() {
            return confirm("{{ _('Do you really want to delete this contact?') }}");
        });
    });
</script>

<div class="row">
    <h1>{{ _('Edit Contact') }}</h1>
    {% include 'flash.html' %}
</div>

<div class="row">
    <div>
        <a href="{{ url_for('contacts') }}">{{ _('Back to the list') }}</a>
    </div>
    <br/>
    <form action="" method="post" name="editContact">
        {{form.hidden_tag()}}

        <div>
            <table class="table no-border table-condensed">
                <tr>
                    <td>
                        <label>{{ _('Company name') }}:</label>
                        <div class="input-group">
                            {{form.company_name(size=80, class="form-control input-sm")}}
                        </div>
                        {% for error in form.errors.company_name %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{ _('Phone number') }}:</label>
                        <div class="input-group">
                            {{form.phone(size=80, class="form-control input-sm")}}
                        </div>
                        {% for error in form.errors.phone %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{ _('Email') }}:</label>
                        <div class="input-group">
                            {{form.email(size=80, class="form-control input-sm")}}
                        </div>
                        {% for error in form.errors.email %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>{{ _('Invoice address details') }}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{ _('Post code') }}:</label>
                        <div class="input-group">
                            <div style="float: left; font-size: 1.4em;">〒&nbsp;</div>
                            <div style="float: left;">{{form.post_code1(size=1, class="form-control input-sm nums_only", maxlength="3", style="text-align: center")}}</div>
                            <div style="float: left; font-size: 1.5em;">&nbsp;-&nbsp;</div>
                            <div style="float: left;">{{form.post_code2(size=2, class="form-control input-sm nums_only", maxlength="4", style="text-align: center")}}</div>
                        </div>
                        {% for error in form.errors.post_code1 %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                        {% for error in form.errors.post_code2 %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{ _('Address 1') }}:</label>
                        <div class="input-group">
                            {{form.address1(size=80, class="form-control input-sm")}}
                        </div>
                        {% for error in form.errors.address1 %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{ _('Address 2') }}:</label>
                        <div class="input-group">
                            {{form.address2(size=80, class="form-control input-sm")}}
                        </div>
                        {% for error in form.errors.address2 %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{ _('Address 3') }}:</label>
                        <div class="input-group">
                            {{form.address3(size=80, class="form-control input-sm")}}
                        </div>
                        {% for error in form.errors.address3 %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    </td>
                </tr>
            <tr>
                <td>
                <input type="submit" value="{{ _('Save contact') }}" class="btn btn-default">
                <button id="btn_delete" class="btn btn-danger" name="delete" value="{{ contact.id }}">{{ _('Delete contact') }}</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}