{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready(function() {
        $("#category_select").val({{ selected }});

        $("#btn_delete").click(function() {
            return confirm("{{ _('Do you really want to delete this maker?') }}");
        });
    });
</script>


<h1>{{ _('Edit Maker') }}</h1>
{% include 'flash.html' %}
<div>
    <a href="{{ url_for('makers') }}">{{ _('Back to the list') }}</a>
</div>

<div class="row col-md-6" style="padding: 20px 30px;">
    {% from "_formhelpers.html" import render_field %}
    <form action="" method="post" name="editMaker">
        {{form.hidden_tag()}}
        <dl>
            {{ render_field(form.name, class="form-control") }}<br/>
            {{ render_field(form.category, class="form-control", id="category_select") }}<br/>
            {{ render_field(form.email, class="form-control") }}<br/>
            {{ render_field(form.standard_delivery_days, class="form-control") }}<br/>
        </dl>

        <input type="submit" value="{{ _('Save maker') }}" class="btn btn-default">
        <button id="btn_delete" class="btn btn-danger" name="delete" value="{{ maker.id }}">{{ _('Delete maker') }}</button>
    </form>
</div>
{% endblock %}