{% extends "base.html" %}
{% block content %}
<script>
    $(document).ready(function() {
        $("#category_select").val({{ selected }});

        $("#btn_delete").click(function() {
            return confirm("{{ _('Do you really want to delete this maker?') }}");
        });
    });

</script>


<h1>{{ _('Edit Maker') }}</h1>
{% include 'flash.html' %}
<div>
    <a href="{{ url_for('makers') }}">{{ _('Back to the list') }}</a>
</div>

<form action="" method="post" name="editMaker">
    {{form.hidden_tag()}}
    <table class="table no-border">
        <tr>
            <td>
                <label>{{ _('Maker name') }}:</label>
                <div class="input-group">
                    {{form.name(size=80, class="form-control")}}
                </div>
                {% for error in form.errors.name %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <label>{{ _('Product category') }}:</label>
                <div class="input-group">
                    {{form.category(id="category_select", class="form-control")}}
                </div>
                {% for error in form.errors.category %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
            <input type="submit" value="{{ _('Save maker') }}" class="btn btn-default">
            <button id="btn_delete" class="btn btn-danger" name="delete" value="{{ maker.id }}">{{ _('Delete maker') }}</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}