{% extends "base.html" %}
{% block content %}

<link href="/static/css/tablesorter.css" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script src="/static/js/jquery.tablesorter.widgets.js"></script>

<script>
    $(function() {
        $('#makers-table').tablesorter( {
            sortList: [[0,0]],
            widgets: ["saveSort"]
        });
    });
</script>

<div class="row">
    <h1>{{ _('List of Makers') }}</h1>
    {% include 'flash.html' %}
</div>

<div class="row">
    <div style="text-align: right; padding: 10px 0px;">
        <a href="{{ url_for('addMaker') }}"><input type="button" class="btn btn-default" value="{{ _('Add maker') }}"></a>
    </div>

    {% if makers %}
    <table id="makers-table" class="table tablesorter table-hover table-striped" style="border-top: 2px solid #DDDDDD;">
        <thead>
        <tr>
            <th class="sort-header">{{ _('Maker ID') }}</th>
            <th class="sort-header">{{ _('Maker\'s Name') }}</th>
            <th class="sort-header">{{ _('Product Category') }}</th>
            <th class="sort-header" style="text-align: right;">{{ _('Average days to deliver') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for maker in makers.items %}
        <tr onclick="window.location.href = '{{ url_for("editMaker", id=maker.id) }}'">
        <td>{{maker.id}}</td>
        <td>{{maker.name}}</td>
        <td>{{maker.category.name_CS + ' / ' + maker.category.name_JP}}</td>
        <td style="text-align: right;">
            {% if maker.standard_delivery_days %}
                {{maker.standard_delivery_days}}
            {% elif maker.standard_delivery_days == 0 %}
                0
            {% else %}
                ?
            {% endif %}
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <!-- PAGINATION -->
    <ul class="pager">
        {% if makers.has_prev or makers.has_next %}
        {% if makers.has_prev %}
        <li class="previous"><a href="{{ url_for('makers', page = makers.prev_num) }}"><< {{ _('Previous') }}</a></li>
        {% else %}
        <li class="previous disabled"><a href="#"><< {{ _('Previous') }}</a></li>
        {% endif %}
        {% if makers.has_next %}
        <li class="next"><a href="{{ url_for('makers', page = makers.next_num) }}">{{ _('Next') }} >></a></li>
        {% else %}
        <li class="next disabled"><a href="#">{{ _('Next') }} >></a></li>
        {% endif %}
        {% endif %}
    </ul>

    {% endif %}
</div>

{% endblock %}