{% extends "base.html" %}
{% block content %}

<style>
body { background-color: #eeeeee; }
</style>

<h1>{{ _("Password Change") }}</h1>
{% include 'flash.html' %}
<br/>

{% from "_formhelpers.html" import render_field %}
<div class="shadowed-div col-md-4" style="padding: 20px 30px;">
    <form method=post action="/user/passwordchange">
        {{form.hidden_tag()}}
        <dl>
            {{ render_field(form.old_password, class="form-control", style="width: 100%;") }}<br/>
            {{ render_field(form.new_password, class="form-control", style="width: 100%;") }}<br/>
            {{ render_field(form.new_password_confirm, class="form-control", style="width: 100%;") }}<br/>
        </dl>
        <p><input type=submit class="btn btn-danger" value="{{ _('Change password') }}">
    </form>
</div>

{% endblock %}