{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready( function() {
        $('#year-select').val( {{ curr_year }} );
        $('#month-select').val( {{ curr_month }} );

        $('#month-select').change( function() {
            date_change_check();
        });
        $('#year-select').change( function() {
            date_change_check();
        });

        $('#date-set-btn').click( function() {
            window.location.replace("{{ url_for('recommendedshares') }}" + "/{{ curr_id }}"
                + "?curr_year=" + $( '#year-select option:selected' ).val()
                + "&curr_month=" + $( '#month-select option:selected' ).val())
        });
    });

    function date_change_check() {
        if ($('#year-select').val() != {{ curr_year }} || $('#month-select').val() != {{ curr_month }} ) {
            $('#date-set-btn').show('fast');
        } else {
            $('#date-set-btn').hide('fast');
        }
    }
</script>

<div class="row">
    <h2>{{ _("Sales of Recommended Customers") }}</h2>
    {% include 'flash.html' %}
</div>

<div class="row">
{% if customers_with_recommended %}

    <table>
        <tr>
            <td style="padding: 5px 10px;">
                <h4>{{ _('Select customer') }}:</h4>
            </td>
            <td style="padding: 5px 10px 5px 20px;">
                <h4>{{ _('Select year and month') }}:</h4>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 10px; vertical-align: top;">
                <div class="list-group">
                    {% for customer in customers_with_recommended %}
                        <a href="{{ url_for('recommendedshares', id=customer.id, curr_year=curr_year, curr_month=curr_month) }}" style="padding: 5px 10px;"
                           class="list-group-item small {% if curr_id == customer.id %}active{% endif %}">
                           {{ customer.name }}
                        </a>
                    {% endfor %}
                </div>
            </td>
            <td style="padding: 5px 10px 5px 20px; vertical-align: top;">
                <select id="year-select" class="form-control input-sm">
                    {% for i in range(this_year - 2013) %}
                    <option value="{{ i + 2014 }}">{{ i + 2014 }}</option>
                    {% endfor %}
                </select>
                <select id="month-select" class="form-control input-sm">
                    <option value="1">{{ _('January') }}</option>
                    <option value="2">{{ _('February') }}</option>
                    <option value="3">{{ _('March') }}</option>
                    <option value="4">{{ _('April') }}</option>
                    <option value="5">{{ _('May') }}</option>
                    <option value="6">{{ _('June') }}</option>
                    <option value="7">{{ _('July') }}</option>
                    <option value="8">{{ _('August') }}</option>
                    <option value="9">{{ _('September') }}</option>
                    <option value="10">{{ _('October') }}</option>
                    <option value="11">{{ _('November') }}</option>
                    <option value="12">{{ _('December') }}</option>
                </select>
                <input type="button" id="date-set-btn" value="{{ _('Set') }}" class="btn btn-sm btn-info" style="display: none; float: right;"/>
            </td>
        </tr>
    </table>
{% endif %}
</div>

<div class="row">
{% if customers_with_recommended %}
    <table class="table table-striped table-bordered table-hover table-condensed" style="border: 2px solid #bbbbbb;">
        <tr>
            <th style="border-bottom: 2px solid #bbbbbb;">{{ _('Recommended Customer') }}</th>
            <th style="text-align: right; border-bottom: 2px solid #bbbbbb;">{{ _('Requested products value') }}
            <th style="text-align: right; border-bottom: 2px solid #bbbbbb;">{{ _('Supplied products value') }}</th>
        </tr>

        {% if recommended %}
        {% for cust in recommended %}
        <tr>
            <td>{{ cust.name }}</td>
            <td style="text-align: right;">
                <a style="cursor: pointer;" onclick="$(this).closest('td').find('.req-details-div').toggle('fast');">
                    {{ cust.requested_value }}
                </a>

                <div class="req-details-div" style="display: none; width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; background-color: #444444; padding: 5% 5% 3% 5%; z-index: 999;">
                    <div style="position: relative; text-align: center; background-color: white; width: 100%; height: 100%; padding: 1% 2%; overflow: auto;">
                        <div style="position: absolute; top: 10px; right: 10px;">
                            <label class="label label-danger label-sm" style="font-size: 1.1em; vertical-align: middle; cursor: pointer;"
                                   onclick="$(this).closest('.req-details-div').toggle('fast');">
                                ×
                            </label>
                        </div>
                        <h4>{{ _('Requested products by customer') }}: {{ cust.name }}</h4>
                        <h4>{{ _('Year and month') }}: {{ curr_year }}/{{ curr_month }}</h4>
                        <table class="table table-bordered table-condensed" style="font-size: 0.9em">
                            <tr>
                                <th>{{ _('Code') }}</th>
                                <th>{{ _('Description CS') }}</th>
                                <th>{{ _('Description JP') }}</th>
                                <th style="text-align: right;">{{ _('Order ID') }}</th>
                                <th style="text-align: right;">{{ _('Retail price') }}</th>
                                <th style="text-align: right;">{{ _('Quantity') }}</th>
                            </tr>
                            {% for rp in cust.requested_products %}
                            <tr>
                                <td style="text-align: left;">{{ rp.product.code }}</td>
                                <td style="text-align: left;">{{ rp.product.desc_CS }}</td>
                                <td style="text-align: left;">{{ rp.product.desc_JP }}</td>
                                <td style="text-align: right;">
                                    <a href="{{ url_for('request_detail', id=rp.request_id) }}">{{ rp.request_id }}</a>
                                    &nbsp;({{ momentjs(rp.request.created_dt).format('LLL') }})
                                </td>
                                <td style="text-align: right;">{{ rp.product.price_retail }}</td>
                                <td style="text-align: right;">{{ rp.quantity }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div style="text-align: left; color: grey;">
                            <p>{{ _('All the above prices are retail prices. Discount has to be subtracted.') }}<br/>
                            {{ _("This customer's base discount") }}: <span style="color: crimson">{{ cust.base_discount * 100 }}%</span></p>
                        </div>
                    </div>
                </div>

            </td>
            <td style="text-align: right;">
                                <a style="cursor: pointer;" onclick="$(this).closest('td').find('.sup-details-div').toggle('fast');">
                    {{ cust.supplied_value }}
                </a>

                <div class="sup-details-div" style="display: none; width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; background-color: #444444; padding: 5% 5% 3% 5%; z-index: 999;">
                    <div style="position: relative; text-align: center; background-color: white; width: 100%; height: 100%; padding: 1% 2%; overflow: auto;">
                        <div style="position: absolute; top: 10px; right: 10px;">
                            <label class="label label-danger label-sm" style="font-size: 1.1em; vertical-align: middle; cursor: pointer;"
                                   onclick="$(this).closest('.sup-details-div').toggle('fast');">
                                ×
                            </label>
                        </div>
                        <h4>{{ _('Supplied products by customer') }}: {{ cust.name }}</h4>
                        <h4>{{ _('Year and month') }}: {{ curr_year }}/{{ curr_month }}</h4>
                        <table class="table table-bordered table-condensed" style="font-size: 0.9em">
                            <tr>
                                <th>{{ _('Code') }}</th>
                                <th>{{ _('Description CS') }}</th>
                                <th>{{ _('Description JP') }}</th>
                                <th>{{ _('Supply ID') }}</th>
                                <th style="text-align: right;">{{ _('Retail price') }}</th>
                                <th style="text-align: right;">{{ _('Quantity') }}</th>
                            </tr>
                            {% for sp in cust.supplied_products %}
                            <tr>
                                <td style="text-align: left;">{{ sp.product.code }}</td>
                                <td style="text-align: left;">{{ sp.product.desc_CS }}</td>
                                <td style="text-align: left;">{{ sp.product.desc_JP }}</td>
                                <td style="text-align: right;">
                                    <a href="{{ url_for('supply', id=sp.supply_id) }}">{{ sp.supply_id }}</a>
                                    &nbsp;({{ momentjs(sp.supply.created_dt).format('LLL') }})
                                </td>
                                <td style="text-align: right;">{{ sp.product.price_retail }}</td>
                                <td style="text-align: right;">{{ sp.quantity }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div style="text-align: left; color: grey;">
                            <p>{{ _('All the above prices are retail prices. Discount has to be subtracted.') }}<br/>
                            {{ _("This customer's base discount") }}: <span style="color: crimson">{{ cust.base_discount * 100 }}%</span></p>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr style="background-color: transparent !important;" class="alert-warning">
            <th style="text-align: right; border-top: 2px solid #bbbbbb;">{{ _('Total:') }}</th>
            <th style="text-align: right; border-top: 2px solid #bbbbbb;">{{ sum_request_values }}</th>
            <th style="text-align: right; border-top: 2px solid #bbbbbb;">{{ sum_supply_values }}</th>
        </tr>
        <tr style="background-color: transparent !important;" class="alert-success">
            <th style="text-align: right;">{{ (base_share * 100) }}% {{ _('Share:') }}</th>
            <th style="text-align: right;">{{ sum_request_values * base_share }}</th>
            <th style="text-align: right;">{{ sum_supply_values * base_share }}</th>
        </tr>
    </table>
{% else %}
    <h4>{{ _('No recommended customers found.') }}</h4>
{% endif %}
</div>

{% endblock %}