{% extends "base.html" %}
{% block content %}

<link href="/static/css/tablesorter.css" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script src="/static/js/jquery.tablesorter.widgets.js"></script>

<script>
    $(function() {
        $('#users-table').tablesorter( {
            sortList: [[2,0]],
            widgets: ["saveSort"]
        });
    });
</script>

<h1>{{ _('List of Users') }}</h1>
{% include 'flash.html' %}

<div style="text-align: right; padding: 10px 0px;">
<a href="{{ url_for('addUser') }}"><input type="button" class="btn btn-default" value="{{ _('Add user') }}"></a>
</div>

{% if users %}
<table id="users-table" class="table tablesorter table-hover table-striped" style="border-top: 2px solid #DDDDDD;">
<thead>
<tr>
    <th class="sort-header">{{ _('User ID') }}</th>
    <th class="sort-header">{{ _('Nickname') }}</th>
    <th class="sort-header">{{ _('Role') }}</th>
    <th class="sort-header">{{ _('Company') }}</th>
    <th class="sort-header">{{ _('Language') }}</th>
</tr>
</thead>

    <tbody>
    {% for user in users.items %}
    <tr onclick="window.location.href = '{{ url_for("editUser", id=user.id) }}'">
        <td>{{ user.id }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ roles[user.role] }}
        {% if user.customer %}
            <td>{{ user.customer.name }}</td>
        {% elif user.maker %}
            <td>{{ user.maker.name }}</td>
        {% else %}
            <td>-</td>
        {% endif %}
        <td>{{ languages[user.language] }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>
<br>

<!-- PAGINATION -->
<ul class="pager">
    {% if users.has_prev or users.has_next %}
    {% if users.has_prev %}
    <li class="previous"><a href="{{ url_for('users', page = users.prev_num) }}"><< {{ _('Previous') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#"><< {{ _('Previous') }}</a></li>
    {% endif %}
    {% if users.has_next %}
    <li class="next"><a href="{{ url_for('users', page = users.next_num) }}">{{ _('Next') }} >></a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Next') }} >></a></li>
    {% endif %}
    {% endif %}
</ul>

{% endif %}

{% endblock %}