{% extends "base.html" %}
{% block content %}

<h1>{{ _('List of Users') }}</h1>
{% include 'flash.html' %}

<div style="text-align: right; padding: 10px 0px;">
<a href="{{ url_for('addUser') }}"><input type="button" class="btn btn-default" value="{{ _('Add user') }}"></a>
</div>

{% if users %}
<table class="table table-hover table-striped">
<tr>
    <th>{{ _('User ID') }}</th>
    <th>{{ _('Nickname') }}</th>
    <th>{{ _('Role') }}</th>
    <th>{{ _('Company') }}</th>
    <th>{{ _('Language') }}</th>
</tr>

{% for user in users.items %}
<tr onclick="window.location.href = '{{ url_for("editUser", id=user.id) }}'">
    <td>{{ user.id }}</td>
    <td>{{ user.nickname }}</td>
    <td>{{ roles[user.role] }}
    <td>{{ user.customer.name }}</td>
    <td>{{ languages[user.language] }}</td>
</tr>
{% endfor %}
</table>
<br>

<!-- PAGINATION -->
<ul class="pager">
    {% if users.has_prev or users.has_next %}
    {% if users.has_prev %}
    <li class="previous"><a href="{{ url_for('users', page = users.prev_num) }}"><< {{ _('Previous') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#"><< {{ _('Previous') }}</a></li>
    {% endif %}
    {% if users.has_next %}
    <li class="next"><a href="{{ url_for('users', page = users.next_num) }}">{{ _('Next') }} >></a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Next') }} >></a></li>
    {% endif %}
    {% endif %}
</ul>

{% endif %}

{% endblock %}