<table class="cart-table table table-striped table-condensed ">
    <thead>
        <th style="width: 10%; text-align: left;">{{ _('Code') }}</th>
        <th style="width: 40%; text-align: left;">{{ _('Product Name') }}</th>
        <th style="width: 15%; text-align: right;">{{ _('Price per unit') }}</th>
        <th style="width: 10%; text-align: right;">{{ _('Quantity') }}</th>
        <th style="width: 20%; text-align: right;">{{ _('Subtotal') }}</th>
        <th style="width: 20%; text-align: center;">{{ _('Remove') }}</th>
    </thead>
    <tbody id="cart-table-body">
        {% for product in cart.products %}
        <tr>
            <input type="hidden" class="hidden-id" value="{{ product.id }}"/>
            <td style="text-align: left;">{{ product.code }}</td>
            <td style="text-align: left;">{{ product.desc_JP }}</td>
            <td style="text-align: right;">{{ product.customer_price }}</td>
            <td style="text-align: right;">{{ product.cart_qty }}</td>
            <td style="text-align: right;">{{ product.subtotal }}</td>
            <td style="text-align: center;"><button class="btn btn-danger btn-xs cart-item-remove-btn">&times;</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>