{% extends "base.html" %}
{% block content %}

<link href="/static/css/shop.css" rel="stylesheet">

<script>
    $(document).ready(function() {
        $('.cat_chckbx').on('change', function() {
            if (jQuery('.cat_chckbx:checked').length) {
                $('.submit-btn').removeAttr('disabled');
                $('.submit-btn').removeClass('btn-danger');
                $('.submit-btn').addClass('btn-info');
            } else {
                $('.submit-btn').attr('disabled', 'disabled');
                $('.submit-btn').removeClass('btn-info');
                $('.submit-btn').addClass('btn-danger');
            }
        });

        $('#submit-available-stock-btn').click(function() {
            $('#data-type-hid').val('availability');
            $('#download-form').submit();
        });

        $('#submit-product-details-btn').click(function() {
            $('#data-type-hid').val('details');
            $('#download-form').submit();
        });

    });
</script>

<style>
    body { background-color: #eeeeee; margin-bottom: 20px !important; }
</style>

<div class="row" style="text-align: center; margin-top: 10px;">

    <br/>
    {% include 'flash.html' %}

    <div class="shadowed-div" style="min-width: 450px; width: 60%; margin: 0px auto;">
        <form action="" id="download-form" method="post" name="csvDownloadCustomer">
            {{form.hidden_tag()}}
            <h3 style="color: navy; font-weight: bold;">{{ _('Download stock data as CSV file') }}</h3><br/>
            <label>{{ _('Select product categories to download') }}:</label>
            <div style="min-width: 350px; width: 60%; text-align: left; margin: 0 auto; border: 2px dotted #dddddd;">
                {% for c in categories %}
                <label class="checkbox noselect" style="padding-left: 30px; cursor: pointer;">
                    <input type="checkbox" class="cat_chckbx" name="csv_cat_id" value="{{ c.id }}" checked="checked"/>{{ c.name_JP }}
                </label>
                {% endfor %}
            </div>
            <br/>
            <div class="clearfix">
                <div class="col-md-12">
                    <input type="hidden" id="data-type-hid" name="data-type"/>
                    <div class="col-md-6">
                        <div style="padding: 5px; border: 2px solid #dddddd; border-radius: 5px;">
                            <label>{{ _('Download stock availability data') }}</label>
                            <label style="font-size: 0.8em; color: grey;">{{ _('(Stock quantities, Delivery dates)') }}</label><br/>
                            <input type="button" id="submit-available-stock-btn" class="btn btn-info submit-btn"
                                   style="min-width: 180px; margin: 10px;" value="{{ _('Download availability') }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="padding: 5px; border: 2px solid #dddddd; border-radius: 5px;">
                            <label>{{ _('Download product detail data') }}</label>
                            <label style="font-size: 0.8em; color: grey;">{{ _('(Prices, Images etc.)') }}</label><br/>
                            <input type="button" id="submit-product-details-btn" class="btn btn-info submit-btn"
                                   style="min-width: 180px; margin: 10px;" value="{{ _('Download details') }}">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </form>
    </div>


</div>

{% endblock %}