{% extends "base.html" %}
{% block content %}

<link href="/static/css/shop.css" rel="stylesheet">
<link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/static/jssor/jssor.slider.mini.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>

<script>
    var unchanged = true;

    $(document).ready(function() {
        {% if curr_category %}
            $("#category-select").val( {{ curr_category }} );
        {% else %}
            $("#category-select").val(0);
        {% endif %}

        {% if session['available_only'] %}
            $("#available-only-check").attr('checked', 'checked');
            $("#available-only-check").closest('label').css('font-weight', 'bold');
        {% endif %}

        {% if session['on_way_only'] %}
            $("#on-way-only-check").attr('checked', 'checked');
            $("#on-way-only-check").closest('label').css('font-weight', 'bold');
        {% endif %}

        $("#category-select").change(function() {
            window.location = "{{ url_for('shop') }}" + '?cat=' + $(this).val();
        });

        $("#available-only-check").change(function() {
            window.location = "{{ url_for('shop') }}" + '?avonly=' + this.checked;
        });

        $("#on-way-only-check").change(function() {
            window.location = "{{ url_for('shop') }}" + '?owonly=' + this.checked;
        });

        $(".fancybox").fancybox();

        var options = {
            $AutoPlay: true,
            $SlideWidth: 100,
            $DisplayPieces: 1,
            $SlideSpacing: 5,
            $FillMode: 1
        };
        var jssor_slider = [];
        $('.slider').each( function() {
            var id = $(this).attr('id');
            var i = id.split('-')[1];
            jssor_slider[id] = new $JssorSlider$(id, options);
        });

        $('.formatted-number').each(function() {
            var num = $(this).text();
            var formatted = ("" + num).replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            $(this).text(formatted);
        });

        $('.cart-arrow').click(function() {
            var $input = $(this).closest('.bottom-icon-div').find('.order-amount-input');
            var val = $input.val();
            var num = parseInt(val);
            if (!num) {
                if (!val) {
                    num = 0;
                } else {
                    num = val;
                    return;
                }
            }
            if ($(this).hasClass('cart-arrow-up')) {
                $input.val(num+1);
                $input.trigger('input');
            } else {
                if (num > 1) {
                    $input.val(num-1);
                    $input.trigger('input');
                }
            }
        });

        $(document).on('keyup', '.nums_only', function (e) {
            if (e.keyCode != '9') {
                this.value = this.value.replace(/[^0-9]/g,'');
            }
        });

        $('.order-amount-input').on('input', function() {
            var $av_qty_td = $(this).closest('.shop-item-div').find('.available-qty-td');
            var $ow_qty_td = $(this).closest('.shop-item-div').find('.on-way-qty-td');
            var available_qty = parseInt($av_qty_td.html().replace(/[^0-9]/g,''));
            var on_way_qty = parseInt($ow_qty_td.html().replace(/[^0-9]/g,''));
            num = parseInt($(this).val());
            if (num > available_qty) {
                $av_qty_td.addClass('over-available');
            } else {
                $av_qty_td.removeClass('over-available');
            }
            if (num > (available_qty + on_way_qty)) {
                $ow_qty_td.addClass('over-available');
            } else {
                $ow_qty_td.removeClass('over-available');
            }
        });

        $('#cart-btn').click(function() {
            $('#cart-table-container').empty();
            var cart = $('#cart');
            if (cart.hasClass('cart-visible')){
                cart.removeClass('cart-visible');
            } else {
                $(this).addClass('cart-loading');
                $(this).find('.glyphicon').hide();
                $.get('/shop/open_cart').done(function(result) {
                    if (result) {
                        $('#cart-table-container').html(result);
                        $('#cart-btn').removeClass('cart-loading');
                        $('#cart-btn').find('.glyphicon').show();
                        cart.addClass('cart-visible');
                        unchanged = true;
                    }
                }).fail(function() {
                    alert('{{ _('Data transfer failed!') }}');
                    $('#cart-btn').removeClass('cart-loading');
                    $('#cart-btn').find('.glyphicon').show();
                });
            }
        });

        $('.cart-add-btn').click(function() {
            if ( $('#cart').hasClass('cart-visible') ) {
                return false;
            }
            var $input = $(this).closest('.bottom-icon-div').find('.order-amount-input');
            var id = $(this).find('.hidden-id').val();
            var val = $input.val();
            var qty = parseInt(val);
            if (qty > 0) {
                add_to_cart(id, qty, this);
            }
        });

        $(document).on('click', '.cart-item-remove-btn', function() {
            var id = $(this).closest('tr').find('.hidden-id').val();
            remove_from_cart(id);
            var tr = $(this).closest('tr');
            $(tr).hide('fast', function() {
                var table = $(this).closest('table');
                var trs = $(table).find('tr');
                if (trs.length < 3) {
                    $('.cart-table-div').remove();
                    $('#no-items-msg').show();
                }
                $(this).remove();
                check_changed();
            });
        });

        $(document).on('click', '#cart-update-btn', function() {
            var data = new Array();
            $('.changed-tr').each(function() {
                var id = $(this).find('.hidden-id').val();
                var qty = $(this).find('.qty-edit-input').val();
                data.push([id, qty]);
            });
            $(this).attr('disabled', 'disabled');
            $(this).removeClass('btn-warning');
            $(this).addClass('btn-danger');
            $(this).addClass('add-loading');
            $(this).val('');
            $.post('/shop/update_cart', {
                data: JSON.stringify(data)
            }).done(function(result) {
                if (result) {
                    $('#cart-table-container').empty();
                    $('#cart-table-container').html(result);
                    unchanged = true;
                }
            }).fail(function() {
                alert('{{ _('Data transfer failed!') }}');
            });
        });

        $(document).on('keyup', '.qty-edit-input', function() {
            var tr = $(this).closest('tr');
            var subtotal_td = $(tr).find('.subtotal-td');
            var orig_value = $(tr).find('.hidden-qty').val();

            var price = parseInt( $(tr).find('.price-td').html() );
            var quantity = $(this).val();
            if ( quantity == '') {
                quantity = 0;
            }
            $(subtotal_td).html( String( price * parseInt( quantity ) ) );

            if ( $(this).val() == orig_value ) {
                $(this).removeClass('changed-tr-text');
                $(subtotal_td).removeClass('changed-tr-text');
                $(tr).removeClass('changed-tr');
                check_changed();
                return false;
            }

            $('#cart-submit-btn').attr('disabled', 'disabled');
            $(this).addClass('changed-tr-text');
            $(subtotal_td).addClass('changed-tr-text');
            $(tr).addClass('changed-tr');
            if (unchanged) {
                unchanged = false;
                $('#cart-update-btn').show('fast');
            }
        });

        $(document).on('focusout', '.qty-edit-input', function() {
            if ( $(this).val() == '' ) {
                $(this).val('0');
            }
        });

    });

    function add_to_cart(id, qty, element) {
        $(element).addClass('add-loading');
        $(element).find('.glyphicon').hide();
        $.post('/shop/add_to_cart', {
            id: id,
            qty: qty
        }).done(function(result) {
            if (result === "OK") {
                $('#no-items-msg').hide();
                $(element).removeClass('add-loading');
                $(element).find('.glyphicon').show();
                var itemdiv = $(element).closest('.shop-item-div');
                $(itemdiv).effect("transfer",{ to: $("#cart-btn") }, 500);
                $('#cart-btn').addClass('item-added-highlight')
                .delay(1000).queue(function(){
                    $(this).removeClass("item-added-highlight").dequeue();
                });
            }
        }).fail(function() {
            $(element).removeClass('add-loading');
            $(element).find('.glyphicon').show();
            alert('{{ _('Data transfer failed!') }}');
        });
    }

    function remove_from_cart(id) {
        $.post('/shop/remove_from_cart', {
            id: id
        }).done(function(result) {
            if (result) {
            }
        }).fail(function() {
            alert('{{ _('Data transfer failed!') }}');
        });
    }

    function check_changed() {
        var changed = $('.changed-tr');
        if (changed.length < 1) {
            $('#cart-update-btn').hide('fast');
            $('#cart-submit-btn').removeAttr('disabled');
            unchanged = true;
        }
    }

    function checkSearch() {
        string = $('#search_bar').val();
        if (string.length > 1) { return true; }
        return false;
    }

    // Catalog search
    function categoryDataReady() {
        var checked = returnChecked();
        for (var i=0; i<checked.length; i++) {
            var hidden = "<input type='hidden' name='term' value=" + checked[i][0] + " />";
            $(hidden).appendTo('#search_form');
        }
        $('#search_form').submit();
    }

</script>

<style>
    body { background-color: #eeeeee; }
</style>

<div class="row" style="text-align: center; margin-top: 10px;">

    <div class="shop-header shadowed-div" style="padding-top: 30px; margin-top: -30px;">
        <form id="search_form" action="{{ url_for('restrict') }}" method="post" name="shop" class="form-inline clearfix">
            {{form.hidden_tag()}}
            <div style="float: left; display: inline-block; white-space: nowrap; margin-bottom: 5px;">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon label-info" style="color: white">{{ _('Category') }}:</span>
                    {{ form.category(id="category-select", class="form-control", style="min-width: 150px; max-width: 300px;") }}
                </div>
            </div>
            <div class="checkbox" style="margin: 0px 10px 5px 10px; padding: 3px 10px; float: left; border: 1px dotted #dddddd;">
                <label>{{ form.available_only(id="available-only-check") }}&nbsp;{{ _('Available items only') }}&nbsp;</label>
            </div>
            <div style="float: center; display: inline-block; white-space: nowrap; overflow: hidden;">
                <span style="display: inline-block;">{{ form.search(id="search_bar", class="form-control input-sm", style="min-width: 150px; max-width: 300px;") }}</span>
                <span style="display: inline-block;"><input type="submit" class="btn btn-info btn-sm" onclick="return checkSearch();" value="{{ _('Search') }}"/></span>
            </div>
            <div style="float: right; display: inline-block; white-space: nowrap; overflow: hidden;">
                <span style="display: inline-block; border-left: 2px dotted #dddddd; margin-left: 10px; padding-left: 15px;">
                    <input type="button" class="btn btn-info btn-sm" value="{{ _('Search by keyword') }}" onclick="showCategoriesPicker();"/>
                </span>
            </div>
        </form>
        {% if curr_search %}
            <div class="clearfix" style="margin-top: 10px; padding: 2px 5px; border: 1px solid #dddddd; position: relative;
                background-color: #eeeeee; border-radius: 3px; -webkit-box-shadow: 0 0 3px 3px #78AEFF; box-shadow: 0 0 3px 3px #78AEFF;">
                <div style="text-align: center; font-size: 1.2em;">
                    {{ _('Search results:') }}:&nbsp;<span style="color: crimson;">{{ curr_search }}</span>&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('clearshopsearch') }}" class="btn btn-warning btn-xs">{{ _('Clear search') }}</a>
                </div>
            </div>
        {% elif curr_catalog_terms %}
            <div class="clearfix" style="margin-top: 10px; padding: 2px 5px; border: 1px solid #dddddd; position: relative;
                background-color: #eeeeee; border-radius: 3px; -webkit-box-shadow: 0 0 3px 3px #78AEFF; box-shadow: 0 0 3px 3px #78AEFF;">
                <div style="text-align: center; font-size: 1.2em;">
                    {{ _('Results for keywords') }}:&nbsp;<span style="color: crimson;">
                        {% for t in curr_catalog_terms %}
                            {{ t }}
                            {% if not loop.last %}{{ _(', ') }}{% endif %}
                        {% endfor %}
                    </span>&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('clearshopsearch') }}" class="btn btn-warning btn-xs">{{ _('Clear search') }}</a>
                </div>
            </div>
        {% endif %}
            <div style="text-align: center;" class="clearfix">
                <div class="sales-indicator-bar" style="float: left; position: relative;">
                    <div style="position: absolute; left: 10px;">{{ _('low') }}</div>
                    <div style="width: 0px; min-width: 130px; margin: 0 auto;">{{ _('Sales last 30 days:') }}</div>
                    <div style="position: absolute; right: 10px; top: 0px;">{{ _('high') }}</div>
                </div>
            </div>
    </div>

    {% include 'flash.html' %}

    {% if products.items %}
        {% for product in products.items %}
            <div class="shadowed-div shop-item-div">
                <div class="shop-wrapper-title clearfix">
                    <div class="shop-item-title label label-success" style="display: inline-block; float: left;">
                        {% if g.user.role < 2 %}
                            <a href="{{ url_for('editProduct', id=product.id) }}" style="text-decoration: none; color: white;">
                                {{ product.desc_JP }}
                            </a>
                        {% else %}
                            {{ product.desc_JP }}
                        {% endif %}
                    </div>
                </div>

                <div class="clearfix" style="margin-bottom: 10px;">
                    <div class="slider" id="slider_container-{{ product.id }}" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100px; display: inline-block; float: left;">
                        <div u="slides" style="position: absolute; overflow: hidden; left: 0px; top: 0px; width: 100%; height: 100px;">
                            {% for url in product.img_urls %}
                            <div style="border: 1px solid #dddddd; border-radius: 3px;">
                                <a u="image" class="fancybox" rel="group{{ product.id }}" href="{{ url }}">
                                    <img src="{{ product.img_thumb_urls[loop.index-1] }}"/>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div style="display: inline-block; float: right; height: 100px; padding: 0 5px; border: 1px solid #dddddd; border-radius: 2px;">
                        <table class="shop-item-table">
                            <tr>
                                <td class="left-td">{{ _('Available:') }}</td>
                                <td class="right-td available-qty-td" {% if (product.available_qty) <= 0 %}style="color: red;"
                                    {% else %}style="font-weight: bold; color: green;"
                                    {% endif %}>{{ product.available_qty }}&nbsp;{{ _('pcs') }}</td>
                            </tr>
                            <tr>
                                <td class="left-td">{{ _('On the way:') }}</td>
                                <td class="right-td on-way-qty-td" {% if product.on_way_qty <= 0 %}style="color: red;"
                                    {% else %}style="font-weight: bold; color: green;"{% endif %}>{{ product.on_way_qty }}&nbsp;{{ _('pcs') }}</td>
                            </tr>
                            <tr>
                                <td class="left-td">{{ _('Retail Price:') }}</td>
                                <td class="right-td formatted-number" {% if product.customer_price > 99999 %}style="font-size: 0.7em !important;"{% endif %}>
                                    &#165;{{ product.price_retail }}
                                </td>
                            </tr>
                            <tr>
                                <td class="left-td">{{ _('Your Price:') }}</td>
                                <td class="right-td formatted-number" style="{% if product.price_retail > product.customer_price %}color: darkblue;{% endif %}
                                    {% if product.customer_price > 99999 %}font-size: 0.7em !important;{% endif %}">
                                    &#165;{{ product.customer_price }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="shop-item-code-wrapper label label-warning" style="background-color: {{ product.sales_index_color }}">
                        {{ product.code }}
                    </div>

                    <div class="bottom-icon-div">
                        <div style="width: 24px; height: 24px; display: inline-block; float: left;">
                            {% if product.axm_node %}
                                <a href="{{ axm_product_url + product.axm_node }}" target="_blank">
                                    <img src="/static/img/axismart.png" class="axm-icon-img"/>
                                </a>
                            {% endif %}
                        </div>
                        <div style="display: inline-block; float: left;">
                            <input type="text" class="form-control input-sm order-amount-input nums_only" value="1"/>
                        </div>
                        <div class="noselect" style="display: inline-block; float: left;">
                            <div class="cart-arrow cart-arrow-up"><span class="caret caret-reversed"></span></div>
                            <div class="cart-arrow cart-arrow-down"><span class="caret"></span></div>
                        </div>
                        <div class="cart-add-btn clearfix btn btn-danger">
                            <input type="hidden" class="hidden-id" value="{{ product.id }}"/>
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    <!-- CART -->
    <div id="cart">
        <div id="cart-btn" class="noselect btn btn-danger">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
        <div id="cart-body">
            <h3>{{ _('Cart Content') }}</h3>
            <div id="no-items-msg" style="display: none;"><h4>{{ _('Shopping cart is empty.') }}</h4></div>
            <div id="cart-table-container">
            </div>
        </div>
    </div>

    <!-- PAGINATION -->
    {% from "_pagination.html" import render_pager %}
    {{ render_pager(products, 'shop') }}

    {% else %}
    <!-- no products found -->
        <div class="shadowed-div shop-item-div">
            <h3>{{ _('No products found.') }}</h3>
        </div>
    {% endif %}
</div>

<!-- Catalog div -->
{% from "_catalog.html" import render_catalog %}
{{ render_catalog(catalog, [], withparents=False, language=g.user.language) }}

{% endblock %}