{% extends "base.html" %}
{% block content %}

<link href="/static/css/shop.css" rel="stylesheet">
<link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/static/jssor/jssor.slider.mini.js"></script>

<script>
    $(document).ready(function() {
        $("#category-select").val( {{ curr_category }} );

        {% if session['available_only'] %}
            $("#available-only-check").attr('checked', 'checked');
            $("#available-only-check").closest('label').css('font-weight', 'bold');
        {% endif %}

        $("#category-select").change(function() {
            window.location = "{{ url_for('shop') }}" + '?cat=' + $(this).val();
        });

        $("#available-only-check").change(function() {
            window.location = "{{ url_for('shop') }}" + '?avonly=' + this.checked;
        });

        $(".fancybox").fancybox();

        var options = {
            $AutoPlay: true,
            $SlideWidth: 100,
            $DisplayPieces: 1,
            $SlideSpacing: 5
        };
        var jssor_slider = [];
        $('.slider').each( function() {
            var id = $(this).attr('id');
            var i = id.split('-')[1];
            jssor_slider[id] = new $JssorSlider$(id, options);
        });

        $('.formatted-number').each(function() {
            var num = $(this).text();
            var formatted = ("" + num).replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            $(this).text(formatted);
        });
    });
</script>

<style>
    body { background-color: #eeeeee; }
</style>

<div class="row" style="text-align: center; margin-top: 10px;">

    <div class="shop-header shadowed-div">
        <form action="" method="post" name="shop" class="form-inline">
            {{form.hidden_tag()}}
            <label>{{ _('Category:') }}&nbsp;</label>
            {{ form.category(id="category-select", class="form-control input-sm", style="min-width: 150px;") }}
            <div class="checkbox" style="margin: 0 10px;">
                <label>{{ form.available_only(id="available-only-check") }}&nbsp;{{ _('Only available') }}</label>
            </div>
            <div style="float: right;">
                <input type="submit" class="btn btn-info" value="{{ _('Search') }}"/>
            </div>
        </form>
    </div>

    {% if products.items %}
        {% for product in products.items %}
            <div class="shadowed-div shop-item-div">
                <div class="shop-wrapper-title clearfix">
                    <div class="shop-item-title label label-success" style="display: inline-block; float: left;">{{ product.desc_JP }}</div>
                </div>

                <div class="clearfix" style="margin-bottom: 10px;">
                    <div class="slider" id="slider_container-{{ product.id }}" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100px; display: inline-block; float: left;">
                        <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 100%; height: 100px;">
                            {% for url in product.img_urls %}
                            <div style="border: 1px solid #dddddd; border-radius: 3px;">
                                <a u="image" class="fancybox" rel="group{{ product.id }}" href="{{ url }}">
                                    <img  src="{{ url }}"/>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div style="display: inline-block; float: right; height: 100px; padding: 0 5px; border: 1px solid #dddddd; border-radius: 2px;">
                        <table class="shop-item-table">
                            <tr>
                                <td class="left-td">{{ _('Available:') }}</td>
                                <td class="right-td" {% if (product.available_qty) <= 0 %}style="color: crimson;"
                                    {% else %}style="font-weight: bold; color: green;"
                                    {% endif %}>{{ product.available_qty }}&nbsp;{{ _('pcs') }}</td>
                            </tr>
                            <tr>
                                <td class="left-td">{{ _('On the way:') }}</td>
                                <td class="right-td" {% if product.ontheway > 0 %}style="font-weight: bold; color: green;"{% endif %}>{{ product.ontheway }}&nbsp;{{ _('pcs') }}</td>
                            </tr>
                            <tr>
                                <td class="left-td">{{ _('Retail Price:') }}</td>
                                <td class="right-td formatted-number">&#165;{{ product.price_retail }}</td>
                            </tr>
                            <tr>
                                <td class="left-td">{{ _('Your Price:') }}</td>
                                <td class="right-td formatted-number" {% if product.price_retail > product.customer_price %}style="font-weight: bold; color: darkblue;"{% endif %}>
                                    &#165;{{ product.customer_price }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="shop-item-code-wrapper label label-warning">
                        {{ product.code }}
                    </div>
                </div>
            </div>
        {% endfor %}

    <!-- PAGINATION -->
    {% from "_pagination.html" import render_pager %}
    {{ render_pager(products, 'shop') }}

    {% else %}
    <!-- no products found -->
        <div class="shadowed-div shop-item-div">
            <h3>{{ _('No products found.') }}</h3>
        </div>
    {% endif %}
</div>

{% endblock %}