*.pyc
*.pyo
app.db
search.db
flask
Flask_FlatPages.egg-info
*.mo
app/xls.py
app/static/csv
app/static/nohinsho
app/static/ordersheet
app/static/customercodes
app/static/img/product
app/static/temp
app/static/backup
db_up.sh

config.py
runp-mysql.fcgi
