<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{ _('Sign In') }}</h1>
{% include 'flash.html' %}
<form action="" method="post" name="login">
    {{form.hidden_tag()}}

    <table class="table no-border">
        <tr>
            <td>
                <label>{{ _('Enter your user id') }}:</label>
                <div class="input-group">
                    {{form.nickname(size=80, class="form-control")}}
                </div>
                {% for error in form.errors.nickname %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>
                <label>{{ _('Enter your password') }}:</label>
                <div class="input-group">
                    {{form.password(size=80, class="form-control")}}
                </div>
                {% for error in form.errors.password %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
            </td>
        </tr>

    <!-- remember me function not used
    <p>{{form.remember_me}} {{ _('Remember Me') }}</p>
    -->

        <tr>
            <td>
                <div class="input-group">
                    <input type="submit" value="{{ _('Sign In') }}" class="btn btn-default">
                </div>
            </td>
        </tr>
    </table>
</form>
{% endblock %}