{% extends "base.html" %}
{% block content %}

<div class="row">
    <h1>{{ _('Supply details') }}</h1>
    {% include 'flash.html' %}

    <div>
        <a href="{{ url_for('supplies') }}">{{ _('Back to the list') }}</a>
    </div>
    <br/>
</div>

{% if supply %}
<div class="row">
    <table class="table table-bordered col-md-8" style="border: 2px solid #dddddd; width: auto;">
        <tr>
            <th class="info col-md-3">{{ _('Supply ID') }}</th>
            <td class="col-md-3">{{ supply.id }}</td>
            <th class="info info col-md-3">{{ _('Sent') }}</th>
            <td class="col-md-3">{{ momentjs(supply.created_dt).format('LLL') }}&nbsp;&nbsp;
                <input type="button" class="btn btn-xs btn-danger" value="{{ _('Edit') }}" onclick="$('#created-dt-edit-div').show('fast');"/>
                <div id="created-dt-edit-div" class="shadowed-div" style="display: none; position: fixed; background-color: white; border: 1px solid #dddddd;">
                    <form action="" method="post" name="selectCustomer">
                        {{form.hidden_tag()}}
                        {{ form.datetime }}
                        <input type="submit" class="btn btn-xs btn-info" value="{{ _('Submit') }}"/>
                        <input type="button" class="btn btn-xs btn-warning" value="{{ _('close') }}" onclick="$('#created-dt-edit-div').hide('fast');"/><br/>
                        <label style="font-size: 0.82em; color: crimson;">(YYYY-MM-DD HH:MM:SS)</label>
                    </form>
                </div>
                {% for error in form.errors.datetime %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th class="info info">{{ _('Sender') }}</th>
            <td>{{ supply.sender.nickname }}</td>
            <th class="info info">{{ _('Customer') }}</th>
            {% if supply.customer.customer_type == CUSTOMER_TYPES['TYPE_AXM'] %}
                <td>Axis Mart, {{ _('order no.') }} {{ supply.customer.order_no }}</td>
            {% else %}
                <td>{{ supply.customer.name }}</td>
            {% endif %}
        </tr>
    </table>
</div>
{% endif %}

{% if products %}
<div class="row">
    <table class="table table-hover table-striped table-responsive td-border-bottom-2px">
    <thead>
        <tr>
            <th>{{ _('Product code') }}</th>
            <th>{{ _('Description CS') }}</th>
            <th>{{ _('Description JP') }}</th>
            <th style="text-align: right;">{{ _('Quantity') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td class="clickable-td">{{ product.product.code }}</td>
            <td class="clickable-td">{{ product.product.desc_CS }}</td>
            <td class="clickable-td">{{ product.product.desc_JP }}</td>
            <td class="clickable-td" style="text-align: right;">{{ product.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{{ url_for('editsupply', id=supply.id) }}" class="btn btn-xs btn-warning" style="float: right;">
        {{ _('Edit this supply') }}
    </a>
</div>
{% endif %}

{% endblock %}