{% extends "base.html" %}
{% block content %}

<h1>{{ _('New supply to customer report') }}</h1>
{% include 'flash.html' %}

<div style="border: 1px solid #dddddd; padding: 0px 20px;">
<h3>{{ _('Details:') }}</h3>
<ul>
    <li>{{ _('Delivery to customer: ') }}{{ report['customer'] }}</li>
    <li>{{ _('Sent by: ') }}{{ report['sender'] }}</li>
    <li>{{ _('Sent products: ') }}<br/>
        <table class="table">
            <tr>
                <th>{{ _('Product Code') }}</th>
                <th>{{ _('Maker') }}</th>
                <th>{{ _('Description CS') }}</th>
                <th>{{ _('Description JP') }}</th>
                <th style="text-align: right;">{{ _('Quantity') }}</th>
            </tr>
        {% for product in report['products'] %}
            <tr>
                <td>{{ product['product'].code }}</td>
                <td>{{ product['product'].maker.name }}</td>
                <td>{{ product['product'].desc_CS }}</td>
                <td>{{ product['product'].desc_JP }}</td>

                {% if product['over'] > 0 %}
                    <td class="danger" style="text-align: right; font-weight: bold;">
                        <span style="color: red">* </span>{{ product['qty'] }} ({{ product['qty'] - product['over'] }})
                    </td>
                {% else %}
                    <td style="text-align: right; font-weight: bold;">{{ product['qty'] }}</td>
                {% endif %}

            </tr>
        {% endfor %}
        <tr>
            {% if report['oversent_requests'] %}
                <td colspan="5" style="text-align: right;">
                <span style="color: red;">{{ _('* The sent quantity is higher than requested total. Value in () shows sum of all orders of current customer for given product.') }}</span>
                </td>
            {% endif %}
        </tr>
        </table>
        <br/>
    </li>

    {% if report['closed_requests'] %}
        <li>{{ _('Completed and closed orders from customer: ') }}<br/>
            <table class="table">
                <tr>
                    <th class="col-md-3">{{ _('Order ID') }}</th>
                    <th class="col-md-3">{{ _('Received') }}</th>
                    <th class="col-md-3">{{ _('Received by') }}</th>
                    <th class="col-md-3">{{ _('Customer') }}</th>
                </tr>
                {% for request in report['closed_requests'] %}
                    <tr>
                        <td>{{ request.id }}</td>
                        <td>{{ momentjs(request.created_dt).format('LLL') }}</td>
                        <td>{{ request.receiver.nickname }}</td>
                        <td>{{ request.customer.name }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
        </li>
    {% endif %}

    {% if report['changed_requests'] %}
        <li>{{ _('Not fully completed but partially supplied orders from customer: ') }}<br/>
            <table class="table">
                <tr>
                    <th class="col-md-3">{{ _('Order ID') }}</th>
                    <th class="col-md-3">{{ _('Received') }}</th>
                    <th class="col-md-3">{{ _('Received by') }}</th>
                    <th class="col-md-3">{{ _('Customer') }}</th>
                </tr>
                {% for request in report['changed_requests'] %}
                    <tr>
                        <td>{{ request.id }}</td>
                        <td>{{ momentjs(request.created_dt).format('LLL') }}</td>
                        <td>{{ request.receiver.nickname }}</td>
                        <td>{{ request.customer.name }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
        </li>
    {% endif %}
</ul>
</div>

<br/>
<div>
<a href="{{ url_for('stock') }}"><input type="button" class="btn btn-default" value="{{ _('To stock') }}"></a>
<a href="{{ url_for('supplies') }}"><input type="button" class="btn btn-default" value="{{ _('To deliveries') }}"></a>
<a href="{{ url_for('requests') }}"><input type="button" class="btn btn-default" value="{{ _('To orders') }}"></a>
</div>
<br/><br/>
{% endblock %}