{% extends "base.html" %}
{% block content %}

<div class="row">
    <h1>{{ _('Supply details') }}</h1>
    {% include 'flash.html' %}

    <div>
        <a href="{{ url_for('supplies') }}">{{ _('Back to the list') }}</a>
    </div>
    <br/>
</div>

{% if supply %}
<div class="row">
    <table class="table table-bordered col-md-8" style="border: 2px solid #dddddd; width: auto;">
        <tr>
            <th class="info col-md-3">{{ _('Supply ID') }}</th>
            <td class="col-md-3">{{ supply.id }}</td>
            <th class="info info col-md-3">{{ _('Sent') }}</th>
            <td class="col-md-3">{{ momentjs(supply.created_dt).format('LLL') }}</td>
        </tr>
        <tr>
            <th class="info info">{{ _('Sender') }}</th>
            <td>{{ supply.sender.nickname }}</td>
            <th class="info info">{{ _('Customer') }}</th>
            {% if supply.customer.customer_type == CUSTOMER_TYPES['TYPE_AXM'] %}
                <td>Axis Mart, {{ _('order no.') }} {{ supply.customer.order_no }}</td>
            {% else %}
                <td>{{ supply.customer.name }}</td>
            {% endif %}
        </tr>
    </table>
</div>
{% endif %}

{% if products %}
<div class="row">
    <table class="table table-hover table-striped table-responsive td-border-bottom-2px">
    <thead>
        <tr>
            <th>{{ _('Product code') }}</th>
            <th>{{ _('Description CS') }}</th>
            <th>{{ _('Description JP') }}</th>
            <th>{{ _('Quantity') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td class="clickable-td">{{ product.product.code }}</td>
            <td class="clickable-td">{{ product.product.desc_CS }}</td>
            <td class="clickable-td">{{ product.product.desc_JP }}</td>
            <td class="clickable-td">{{ product.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}

{% endblock %}