{% extends "base.html" %}
{% block content %}

<div class="row">
    <h1>{{ _('Order details') }}</h1>
    {% include 'flash.html' %}

    <div>
        <a href="{{ url_for('orders') }}">{{ _('Back to the list') }}</a>
    </div>
    <br/>
</div>

{% if order %}
<div class="row">
    <table class="table table-bordered col-md-8" style="border: 2px solid #dddddd; width: auto;">
        <tr>
            <th class="info col-md-3">{{ _('Order ID') }}</th>
            <td class="col-md-3">{{ order.id }}</td>
            <th class="info info col-md-3">{{ _('Placed') }}</th>
            <td class="col-md-3">{{ momentjs(order.created_dt).format('LLL') }}&nbsp;&nbsp;
                <input type="button" class="btn btn-xs btn-danger" value="{{ _('Edit') }}" onclick="$('#created-dt-edit-div').show('fast');"/>
                <div id="created-dt-edit-div" class="shadowed-div" style="display: none; position: fixed; background-color: white; border: 1px solid #dddddd;">
                    <form action="" method="post" name="selectCustomer">
                        {{form.hidden_tag()}}
                        {{ form.datetime }}
                        <input type="submit" class="btn btn-xs btn-info" value="{{ _('Submit') }}"/>
                        <input type="button" class="btn btn-xs btn-warning" value="{{ _('close') }}" onclick="$('#created-dt-edit-div').hide('fast');"/><br/>
                        <label style="font-size: 0.82em; color: crimson;">(YYYY-MM-DD HH:MM:SS)</label>
                    </form>
                </div>
                {% for error in form.errors.datetime %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th class="info info">{{ _('Ordered by') }}</th>
            <td>{{ order.orderer.nickname }}</td>
            <th class="info info">{{ _('Maker') }}</th>
            <td>{{ order.maker.name }}</td>
        </tr>
    </table>
</div>
{% endif %}

{% if products %}
<div class="row">
    <table class="table table-hover table-striped table-responsive td-border-bottom-2px">
    <thead>
        <tr>
            <th>{{ _('Product code') }}</th>
            <th>{{ _('Description CS') }}</th>
            <th>{{ _('Description JP') }}</th>
            <th>{{ _('Quantity') }}</th>
            <th>{{ _('Delivered') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td class="clickable-td">{{ product.product.code }}</td>
            <td class="clickable-td">{{ product.product.desc_CS }}</td>
            <td class="clickable-td">{{ product.product.desc_JP }}</td>
            <td class="clickable-td">{{ product.quantity }}</td>
            <td class="clickable-td">{{ product.qty_delivered }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}

{% endblock %}