{% extends "base.html" %}
{% block content %}
<script>

    function checkProductId(code) {
        if (code.length < 3) {
            $('#icon_id_check_ok').hide()
            $('#icon_id_check_ng').hide()
            return
        }
        $.post('/checkProductId', {
            code: code,
            orig_id: "{{ product.code|string }}"
        }).done(function(result) {
            if(result['result'] === 'OK') {
                $('#icon_id_check_ok').show()
                $('#icon_id_check_ng').hide()
                $('#btn_submit').removeAttr('disabled')
            } else {
                $('#icon_id_check_ng').show()
                $('#icon_id_check_ok').hide()
                $('#btn_submit').attr('disabled','disabled')
                $('#code_input').focus()
            }
        }).fail(function() {

        });
    }

    $(document).ready(function() {

        $(".fancybox").fancybox();

        $("#maker_select").val({{ selected_maker }});

        var original_catalog_terms = []
        {% for term in selected_catalog_terms %}
            var temp = [ {{ term[0] }}, {{ term[1] }}, "{{ term[2] }}" ];
            original_catalog_terms.push( temp );
        {% endfor %}
        fillCategoryTerms(original_catalog_terms);

        $('#code_input').focusout(function() {
            checkProductId($(this).val());
        });

        $("#btn_delete").click(function() {
            if (confirm("{{ _('Do you really want to delete this product?') }}")) {
                $(this).closest('td').append("<input type='hidden' name='delete' value='delete' />");
                $(this).closest('form').submit();
            }
        });

        $("input[type=text]").click(function() {
            this.select();
        });

        $(document).on('click', '.del-img-btn', function() {
            path = $(this).parent().find('.prod-img').attr('src').split('?')[0];
            var thumb = $(this).closest('.thumbnail');
            if (confirm("{{ _('Do you really want to delete this image?') }}")) {
                $.post('/deleteProductImage', {
                    path: path
                }).done(function(result) {
                    if(result['result'] === 'OK') {
                        $(thumb).css('background-color', '#D53E40');
                        thumb.fadeOut('slow', function(){
                            thumb.remove();
                        });
                    }
                }).fail(function() {

                });
            }
        });
    });

    $(function() {
        $('#upload-img-btn').click(function() {
            var form_data = new FormData($('#upload-image')[0]);
            $.ajax({
                type: 'POST',
                url: '/uploadProductImage',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                success: function(data) {
                    if (data['result'] === 'OK') {
                        var new_img_path = data['url'].split('app')[1] + '?' + new Date().getTime();
                        var $new_thumb = '<div class="thumbnail" style="width: 160px !important; height: 170px !important; display: inline-block; line-height: 160px; text-align: center; position: relative;">'
                                + '<div style="display: inline-block; vertical-align: middle; padding: 0; margin: 0;">'
                                + '<button class="btn btn-xs btn-danger del-img-btn" style="position: absolute; right: 5px; top: 5px;">&#x2716;</button>'
                                + '<a class="fancybox" rel="group" href="' + new_img_path + '">'
                                    + '<img class="prod-img" src="' + new_img_path + '" style="max-width: 150px; max-height: 150px;" />'
                                + '</a>'
                                + '</div>'
                            + '</div>';
                        $('#product_pic_div').append($new_thumb);
                    }
                },
            });
            return false;
        });
    });

    function categoryDataReady() {
        var checked = returnChecked();
        fillCategoryTerms(checked);
    }

    function fillCategoryTerms(checked) {
        $('#product-catalog-terms-container').empty();
        for (var i=0; i<checked.length; i++) {
            var new_id = 'term-' + checked[i][0]
            if (checked[i][1] == '0') {
                $('#parent-template').clone().attr('id', new_id).appendTo('#product-catalog-terms-container');
            } else {
                $('#child-template').clone().attr('id', new_id).appendTo('#product-catalog-terms-container');
            }
            $('#' + new_id).find('label').html(checked[i][2]);
            $('#' + new_id).css('display', 'block');
            var hidden = "<input type='hidden' name='term' value=" + checked[i][0] + " />";
            $(hidden).appendTo( '#' + new_id );
        }
    }
</script>

<link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<div class="row">
    <h1>{{ _('Edit Product') }}</h1>
    {% include 'flash.html' %}
    <div>
        <a href="{{ url_for('stock', page=stock_page) }}">{{ _('Back to the list') }}</a>
    </div>
    {% if product.active_flg == False %}
    <br/>
    <div class="panel panel-danger">
        <div class="panel-heading">
            {{ _('This product has been deleted!') }}
        </div>
    </div>
    {% endif %}
</div>
<br/>

<div class="row">
<div class="col-md-6">
    <form action="" method="post" name="editProduct">
        {{form.hidden_tag()}}
        <table class="table no-border">
            <tr>
                <td>
                <label>{{ _('Product code') }}:</label>
                <div class="input-group">
                    {{form.code(id='code_input', size=60, class="form-control")}}
                    <span class="input-group-addon" style="width: 50px;">
                        <i id="icon_id_check_ok" class="glyphicon glyphicon-ok" style="display: none; color: #009900"></i>
                        <i id="icon_id_check_ng" class="glyphicon glyphicon-remove" style="display: none; color: red"></i>
                    </span>
                </div>
                {% for error in form.errors.code %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                <label>{{ _('Maker') }}:</label>
                <div class="input-group">
                    {{form.maker(id="maker_select", class="form-control")}}
                </div>
                {% for error in form.errors.maker %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                <label>{{ _('Czech description') }}:</label>
                <div class="input-group">
                    {{form.desc_CS(size=80, class="form-control")}}
                </div>
                {% for error in form.errors.desc_CS %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                <label>{{ _('Japanese description') }}:</label>
                <div class="input-group">
                    {{form.desc_JP(size=80, class="form-control")}}
                </div>
                {% for error in form.errors.desc_JP %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                <label>{{ _('Unit price') }}:</label>
                <div class="input-group">
                    {{form.price_unit(size=20, class="form-control")}}
                </div>
                {% for error in form.errors.price_unit %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                <label>{{ _('Retail price') }}:</label>
                <div class="input-group">
                    {{form.price_retail(size=20, class="form-control")}}
                </div>
                {% for error in form.errors.price_retail %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                <label>{{ _('Quantity on stock') }}:</label>
                <div class="input-group">
                    {{ form.qty_stock(size=20, class="form-control", style="text-align: right") }}
                </div>
                {% for error in form.errors.qty_stock %}
                <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    [{{error}}]
                </div>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ _('Axis Mart node number') }}:</label>
                    <div class="input-group">
                        {{ form.axm_node(size=20, class="form-control", style="text-align: right") }}
                    </div>
                    {% for error in form.errors.axm_node %}
                    <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        [{{error}}]
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ _('Package size') }}:</label>
                    <div class="input-group">
                        {{form.package_size(class="form-control")}}
                    </div>
                    {% for error in form.errors.package_size %}
                    <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        [{{error}}]
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <div class="well">
                        <label>{{ _('Catalog terms') }}:</label>

                        <input type="button" class="btn btn-info btn-sm" style="float: right;" value="{{ _('Edit terms') }}" onclick="showCategoriesPicker();"/>

                        <div id="parent-template" style="display: none;">
                            <label class="label label-success term-label-parent"></label>
                        </div>
                        <div id="child-template" style="display: none; margin-left: 20px;">
                            <label class="label label-warning term-label-child"></label>
                        </div>

                        <div id="product-catalog-terms-container">

                        </div>
                    </div>
                </td>
            </tr>
            {% if product.active_flg %}
            <br/>
            <tr>
                <td>
                    <input type="hidden" name="orig_code" value="{{ product.code }}"/>
                    <input type="hidden" name="stock_page" value="{{ stock_page }}"/>
                    <input type="submit" id="btn_submit" value="{{ _('Save product') }}" class="btn btn-default">
                    <input type="button" class="btn btn-info" onclick="window.location.href = '{{ url_for("stock", page=stock_page)}}'" value="{{ _('Cancel') }}"/>
                    <input type="button" id="btn_delete" class="btn btn-danger btn-sm" value="{{ _('Delete product') }}" style="float: right;"/>
                </td>
            </tr>
            {% endif%}
        </table>
    </form>
</div>

<div class="col-md-6">
    <h2>{{ _('Product images') }}</h2>
    <div id="product_pic_div">
        {% for url in imgUrls %}
            <div class="thumbnail" style="width: 160px !important; height: 170px !important; display: inline-block; line-height: 160px; text-align: center; position: relative;">
                <div style="display: inline-block; vertical-align: middle; padding: 0; margin: 0;">
                <button class="btn btn-xs btn-danger del-img-btn" style="position: absolute; right: 5px; top: 5px;">&#x2716;</button>
                <a class="fancybox" rel="group" href="{{ url.split('app')[1] }}">
                    <img class="prod-img" src="{{ url.split('app')[1] }}" style="max-width: 150px; max-height: 150px;" />
                </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if product.active_flg %}
    <div class="well">
        <form id="upload-image" method="post" enctype="multipart/form-data">
            <fieldset>
                <label style="display: inline-block; margin-right: 10px;">{{ _('New image:') }}</label>
                <input name="file" type="file" class="btn" style="display: inline-block;">
                <input name="prod_id" type="hidden" value="{{ product.id }}"/>
                <button id="upload-img-btn" class="btn btn-info btn-sm" style="display: inline-block;">{{ _('upload') }}</button>
            </fieldset>
        </form>
    </div>
    {% endif %}
</div>

</div>

<!-- Catalog div -->
{% from "_catalog.html" import render_catalog %}
{{ render_catalog(catalog, product.catalog_terms) }}

{% endblock %}