body {
    margin-top: 50px !important;
    margin-bottom: 60px !important;
    height: 100%;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

@media (max-width: 979px) /* @grid-float-breakpoint -1 */
{
    body {
        margin-top: 0px !important;
    }
}

#pagination-footer {
    position: fixed;
    bottom: 0;
    right: 20px;
    display: inline-block;
    padding; 0;
    width: auto;
    height: 60px;
    background-color: none;
    float: right;
}

.custom-alert {
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.no-border {
    border: none !important;
}

.no-border td {
    border: none !important;
}

.table-stock td {
    vertical-align: middle !important;
}

.table-hover td.clickable-td {
    cursor: pointer;
}

.table-hover td.linked-td:hover {
    text-decoration: underline;
    -webkit-box-shadow:inset 0 0 3px 2px #33ccff;
    box-shadow:inset 0 0 3px 2px #33ccff;
}

.td-border-left-1px { border-left: 1px solid #dddddd; }
.td-border-right-1px { border-right: 1px solid #dddddd; }
.td-border-top-1px { border-top: 1px solid #dddddd; }
.td-border-bottom-1px { border-bottom: 1px solid #dddddd; }
.td-border-left-2px { border-left: 2px solid #dddddd; }
.td-border-right-2px { border-right: 2px solid #dddddd; }
.td-border-top-2px { border-top: 2px solid #dddddd; }
.td-border-bottom-2px { border-bottom: 2px solid #dddddd; }

.td-border-highlighted {
    -webkit-box-shadow:inset 0 0 3px 2px #DB0000 !important;
    box-shadow:inset 0 0 3px 2px #DB0000 !important;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.sorter {
    cursor: pointer;
}

.sorter:hover {
    color: black !important;
    text-shadow: 0 0 5px #0080FF;
}

.row-indicator-left {
    padding: 0px !important;
    background-color: transparent !important;
    width: 7px;
}

.row-indicator-right {
    padding: 0px !important;
    background-color: transparent !important;
    width: 7px;
}

.row-indicator-left-on {
    padding: 0px !important;
    width: 7px;
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(left,  #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #cfe7fa 0%,#6393c1 100%); /* IE10+ */
    background: linear-gradient(to right,  #cfe7fa 0%,#6393c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 */
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.row-indicator-right-on {
    padding: 0px !important;
    width: 7px;
    background: #6393c1; /* Old browsers */
    background: -moz-linear-gradient(left,  #6393c1 0%, #cfe7fa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6393c1), color-stop(100%,#cfe7fa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #6393c1 0%,#cfe7fa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #6393c1 0%,#cfe7fa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #6393c1 0%,#cfe7fa 100%); /* IE10+ */
    background: linear-gradient(to right,  #6393c1 0%,#cfe7fa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6393c1', endColorstr='#cfe7fa',GradientType=1 ); /* IE6-9 */
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.tr-product td {
    vertical-align: middle !important;
}

.focused-tr {
    color: crimson;
}

.shadowed-div {
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,.5);
}
