.shop-header {
    width: 500px;
    text-align: left;
    margin: 0 auto;
}

.shop-header dl, dt, dd {
    margin: 0px;
}

.shop-item-div {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    width: 370px;
    vertical-align: bottom;
    color: #444444;
}

.shop-wrapper-title {
    margin-bottom: 10px;
}

.shop-item-title {
    width: 330px;
    padding-top: 5px;
    padding-left: 20px;
    text-indent: -10px;
    font-size: 1.2em;
    text-align: left;
    white-space: normal;
}

.image-slider {
    height: 110px;
}

.shop-item-table {
    font-size: 1.2em;
}

.shop-item-table .left-td {
    width: 140px;
    text-align: left !important;
}

.shop-item-table .right-td {
    width: 70px;
    text-align: right;
}

.shop-item-code-wrapper {
    width: 100px;
    height: 24px;
    padding-top: 5px;
    font-size: 1.1em;
    text-align: center;
    float: left;
}

.bottom-icon-div {
    diplay: inline-block;
    white-space: nowrap;
    height: 24px;
    width: 222px;
    float: right;
}

.axm-icon-img {
    height: 24px;
    border-radius: .25em;
}

.order-amount-input {
    width: 80px;
    height: 24px;
    float: left;
    font-size: 1.1em;
    margin-left: 5px;
    text-align: right;
}

.cart-arrow {
    width: 24px;
    height: 12px;
    line-height: 12px;
    padding-right: 1px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.cart-arrow:hover {
    border: 1px solid #ccc;
}

.cart-arrow:active {
    background: #f0ad4e;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #444444;
}

.over-available {
    color: red !important;
}


.cart-add-btn {
    width: 84px;
    margin-left: 5px;
    padding: 1px 0 !important;
    height: 24px;
    float: right;
}

.cart-add-btn span {
    font-size: 18px;
}


#cart {
    height: 92%;
    width: 0px;
    position: fixed;
    right: -6px;
    top: 10%;

    border: 3px solid #D9534F;
    border-radius: 10px 0 0 0;
    z-index: 999;

    background-color: white;

    -webkit-box-shadow: -5px 2px 5px 0 #7A7A7A;
    box-shadow: -5px 2px 5px 0 #7A7A7A;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cart-visible {
    width: 95% !important;
}

#cart-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 3px 0 0 3px;
    font-size: 28px;
    position: absolute;
    left: -50px;
    top: 50px;
    border-right; none !important;
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: -1px 2px 5px 0 #7A7A7A;
    box-shadow: -1px 2px 5px 0 #7A7A7A;
    z-index: 998;
}

#cart-body {
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    overflow: auto;
}

.cart-table td {
    vertical-align: middle !important;
}