{% extends "base.html" %}
{% block content %}

<script>

function show_candidates(result) {
    for (var index in result) {
        var product = result[index];
        $('#tbl-results tr:last').after('<tr id="row_res-'+ product.id +'" class="row-result"><td>'+ product.code +'</td><td>'+ product.maker_name +
        '</td><td>'+ product.desc_CS +'</td><td class="last-data">'+ product.desc_JP +'</td><td><input type="button" value=">>" class="btn-add-row btn btn-info" tabindex="-1"></td></tr>');
    }
};

function checkValues() {

    if (!$('.row-candidate')[0]) {
        return false;
    }

    {% if custType == 'cust' %}
        if ($('#select_cust').val() == 0) {
            $('#select_cust').addClass('td-border-highlighted');
            alert("{{ _('Select a customer to receive order from!') }}");
            return false;
        }
    {% elif custType == 'axm' %}
        if ($('#input_order_no').val() == '' || $('#input_order_no').val() == '0') {
            $('#input_order_no').addClass('td-border-highlighted');
            alert("{{ _('Input number of order!') }}");
            return false;
        }
    {% endif %}

    var check = 0;
    $('.row-candidate').each(function() {
        var value = $(this).find('.req_qty').val();
        if(value == '' || value =='0') {
            $(this).find('.req_qty').addClass('td-border-highlighted');
            $(this).find('.req_qty').val('');
            check += 1;
        } else {
            $(this).find('.req_qty').removeClass('td-border-highlighted');
        }
    });
    if (check > 0) {
        alert(check + ' {{ _("fields are empty!") }}');
        return false;
    }
    return confirm('{{ _("Are you sure to save this order from customer?") }}');
}

$(document).ready(function() {
    $("input[type=text]").click(function(){
        this.select();
    });

    $('form').bind("keyup keypress", function(e) {
        var code = e.keyCode || e.which;
        if (code  == 13) {
            var $focused = $(':focus');
            if ($focused.hasClass('search-input')) {
                $('#btn-search').trigger('click');
                $focused.focus();
            }
            e.preventDefault();
            return false;
        }
    });

    $('#btn-search').click(function() {
        $('.row-result').remove();

        var maker = $('#sel-maker').val();
        var code = $('#inp-code').val();
        var desc_cs = $('#inp-desc_cs').val();
        var desc_jp = $('#inp-desc_jp').val();

        $.post('/findProductsAjax', {
            maker: maker,
            code: code,
            desc_cs: desc_cs,
            desc_jp: desc_jp
        }).done(function(result) {
            if (result != '0') {
                show_candidates(result.result);
            }
        }).fail(function() {
        });
    });

    $(document).on('click', '.btn-add-row', function() {
        var $row_old = $(this).closest('.row-result');
        var $row_clone = $row_old.clone();
        $row_old.hide('fast');

        var old_id = $row_clone.attr('id');
        var new_id = old_id.split('-')[1]
        $row_clone.attr('id', 'row_cand-' + new_id);
        $row_clone.removeClass('row-result');
        $row_clone.addClass('row-candidate');

        $td_last_data = $row_clone.find('.last-data')
        $td_last_data.after('<td><input type="text" name="req_qty-'+ new_id +'" class="form-control nums_only req_qty" style="text-align: right" size="10"></td>')

        $row_clone_btn = $row_clone.find('.btn-add-row')
        $row_clone_btn.attr('value', 'X');
        $row_clone_btn.removeClass('btn-info');
        $row_clone_btn.addClass('btn-warning');
        $row_clone_btn.removeClass('btn-add-row');
        $row_clone_btn.addClass('btn-del-row');

        $('#tbl-candidates tr:last').after($row_clone);
    });

    $(document).on('click', '.btn-del-row', function() {
        var $row_to_del = $(this).closest('.row-candidate');
        $row_to_del.hide('fast', function() {
            $row_to_del.remove();
        });
    });

    $(document).on('keyup', '.nums_only', function () {
        $(this).removeClass('td-border-highlighted');
        this.value = this.value.replace(/[^0-9\.]/g,'');
    });

    $('#select_cust').change( function() {
        $(this).removeClass('td-border-highlighted');
    });
});

</script>

<div class="row">
    <h1>{{ _('Accept a new order from customer') }}</h1>
    {% include 'flash.html' %}
</div>

<div class="row">
    <form action="" method="post" name="selectCustomer">
        {{formCustomer.hidden_tag()}}
        <table class="table no-border">
            <tr>
                <td>
                    <input type="hidden" name="custType" value="{{ custType }}">
                    {% if custType == 'cust' %}
                        <label>{{ _('Select customer') }}</label>
                        <div class="input-group">
                            {{ formCustomer.customer(id="select_cust", class="form-control", tabindex="1") }}
                        </div>
                        {% for error in formCustomer.errors.customer %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    {% elif custType == 'axm' %}
                        <h3>{{ _('Customer from Axis Mart') }}</h3>
                        <label>{{ _('Enter order number:') }}</label>
                        <div class="input-group">
                            {{ formCustomer.order_no(id="input_order_no", class="form-control nums_only", style="text-align: right;", tabindex="1") }}
                        </div>
                        {% for error in formCustomer.errors.order_no %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ _('Date and time of request') }}:</label>
                    <div class="input-group">
                        {{ formCustomer.datetime(class="form-control") }}
                        {% for error in formCustomer.errors.datetime %}
                        <div class="alert alert-danger" role="alert" style="max-width: 400px;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            [{{error}}]
                        </div>
                        {% endfor %}
                    </div>
                    <div><label style="font-size: 0.82em; color: crimson;">&nbsp;&nbsp;(YYYY-MM-DD HH:MM:SS)</label></div>
                </td>
            </tr>
        </table>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <td colspan="3"><h4>{{ _('Search for product to add') }}</h4></td>
                    </tr>

                    <tr>
                        <th>{{ _('Maker') }}</th>
                        <td colspan="2">{{ formCustomer.maker(id="sel-maker", class="form-control search-input", tabindex="2") }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Code') }}</th>
                        <td><input type="text" id="inp-code" size="40" class="form-control search-input" tabindex="3"/></td>
                        <td rowspan="3" style="text-align: center; vertical-align: middle;">
                            <input id="btn-search" type="button" value="{{ _('Search!') }}" class="btn btn-info" tabindex="6" style="padding: 20px 5px;">
                        </td>
                    </tr><tr>
                        <th>{{ _('Description CS') }}</th>
                        <td><input type="text" id="inp-desc_cs" size="40" class="form-control search-input" tabindex="4"/></td>
                    </tr><tr>
                        <th>{{ _('Description JP') }}</th>
                        <td><input type="text" id="inp-desc_jp" size="40" class="form-control search-input" tabindex="5"/></td>
                    </tr>
                </table>

                <br/>

                <table id="tbl-results" class="table table-bordered table-condensed">
                    <tr>
                        <th colspan="5"><h4>{{ _('Search results') }}</h4></th>
                    </tr><tr>
                        <th style="width: 10%;">{{ _('Code') }}</th>
                        <th style="width: 14%;">{{ _('Maker') }}</th>
                        <th style="width: 34%;">{{ _('Description CS') }}</th>
                        <th style="width: 34%;">{{ _('Description JP') }}</th>
                        <th style="width: 8%;"></th>
                    </tr>
                </table>

            </div>

    <!-- RIGHT COLUMN -->
            <div class="col-md-6">
                <table id="tbl-candidates" class="table table-bordered table-condensed" style="border: 1px solid #dddddd">
                    <tr>
                        <td colspan="6"><h4>{{ _('Products to order') }}</h4></td>
                    </tr><tr>
                        <th style="width: 10%;">{{ _('Code') }}</th>
                        <th style="width: 10%;">{{ _('Maker') }}</th>
                        <th style="width: 30%;">{{ _('Description CS') }}</th>
                        <th style="width: 30%;">{{ _('Description JP') }}</th>
                        <th style="width: 14%;">{{ _('Quantity') }}</th>
                        <th style="width: 6%;"></th>
                    </tr>
                </table>
                <input type="submit" class="btn btn-danger" onclick="return checkValues()" value="{{ _('Submit') }}" style="float: right;">
            </div>
        </div>
    </form>
</div>

<br/>
{% endblock %}