{% extends "base.html" %}
{% block content %}

<div class="row">
    <h1>{{ _('Orders from customers for Product') }}</h1>
    {% include 'flash.html' %}
</div>

{% if product %}
<div class="row">
    <table class="table table-bordered col-md-8" style="border: 2px solid #dddddd; width: auto;">
        <tr>
            <th class="info col-md-3">{{ _('Product name CS') }}</th>
            <td colspan="3">{{ product.desc_CS }}</td>
        </tr>
        <tr>
            <th class="info">{{ _('Product name JP') }}</th>
            <td colspan="3">{{ product.desc_JP }}</td>
        </tr>
        <tr>
            <th class="info">{{ _('Code') }}</th>
            <td>{{ product.code }}</td>
            <th class="info info col-md-3">{{ _('Maker') }}</th>
            <td>{{ product.maker.name }}</td>
        </tr>
        <tr>
            <th class="info">{{ _('Unit Price') }}</th>
            <td>{{ product.price_unit }}</td>
            <th class="info">{{ _('Retail Price') }}</th>
            <td>{{ product.price_retail }}</td>
        </tr>
    </table>
</div>
{% endif %}

<br/>

{% if requests %}
<div class="row">
    <table class="table table-hover table-striped table-responsive td-border-bottom-2px td-border-top-1px">
    <thead>
        <tr>
            <th class="td-border-left-1px">{{ _('Order ID') }}</th>
            <th>{{ _('Placed') }}</th>
            <th>{{ _('Ordered by') }}</th>
            <th>{{ _('Quantity') }}</th>
            <th class="td-border-right-1px">{{ _('Undelivered') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr onclick="window.location.href = '{{ url_for("request_detail", id=request.request.id) }}'">
            <td class="clickable-td td-border-left-2px">{{ request.request.id }}</td>
            <td class="clickable-td">{{ momentjs(request.request.created_dt).format('LLL') }}</td>
            {% if request.request.customer.customer_type == CUSTOMER_TYPES['TYPE_AXM'] %}
                <td class="clickable-td">Axis Mart, {{ _('order no.') }} {{ request.request.customer.order_no }}</td>
            {% else %}
                <td class="clickable-td">{{ request.request.customer.name }}</td>
            {% endif %}
            <td class="clickable-td">{{ request.quantity }}</td>
            <td class="clickable-td td-border-right-2px">{{ request.quantity - request.qty_supplied }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endif %}

{% endblock %}