{% extends "base.html" %}
{% block content %}

<div class="row">
    <h1>{{ _('Order from customer details') }}</h1>
    {% include 'flash.html' %}

    <div>
        <a href="{{ url_for('requests') }}">{{ _('Back to the list') }}</a>
    </div>
    <br/>
</div>

{% if req %}
<div class="row">
    <table class="table table-bordered col-md-8" style="border: 2px solid #dddddd; width: auto;">
        <tr>
            <th class="info col-md-3">{{ _('Order ID') }}</th>
            <td class="col-md-3">{{ req.id }}</td>
            <th class="info info col-md-3">{{ _('Placed') }}</th>
            <td class="col-md-3">{{ momentjs(req.created_dt).format('LLL') }}</td>
        </tr>
        <tr>
            <th class="info info">{{ _('Received by') }}</th>
            <td>{{ req.receiver.nickname }}</td>
            {% if req.customer.customer_type == CUSTOMER_TYPES['TYPE_AXM'] %}
                <th class="info info">{{ _('Order no.') }}</th>
                <td>Axis Mart, {{ _('order no.') }} {{ req.customer.order_no }}</td>
            {% else %}
                <th class="info info">{{ _('Customer') }}</th>
                <td>{{ req.customer.name }}</td>
            {% endif %}
        </tr>
    </table>
</div>
{% endif %}

{% if products %}
<div class="row">
    <table class="table table-hover table-striped table-responsive td-border-bottom-2px">
    <thead>
        <tr>
            <th>{{ _('Product code') }}</th>
            <th>{{ _('Description CS') }}</th>
            <th>{{ _('Description JP') }}</th>
            <th>{{ _('Quantity') }}</th>
            <th>{{ _('Supplied') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td class="clickable-td">{{ product.product.code }}</td>
            <td class="clickable-td">{{ product.product.desc_CS }}</td>
            <td class="clickable-td">{{ product.product.desc_JP }}</td>
            <td class="clickable-td">{{ product.quantity }}</td>
            <td class="clickable-td">{{ product.qty_supplied }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}

{% endblock %}