{% extends "base.html" %}
{% block content %}

<div class="row">
    <h1>{{ _('Orders from customers overview') }}</h1>
    {% include 'flash.html' %}
</div>

{% if requests %}
<div class="row">
    <table class="table table-hover table-striped table-responsive td-border-bottom-2px td-border-top-1px">
    <thead>
        <tr>
            <th class="td-border-left-1px">{{ _('Order ID') }}</th>
            <th>{{ _('Received') }}</th>
            <th>{{ _('Received by') }}</th>
            <!-- <th class="td-border-right-1px">{{ _('Customer') }}</th> -->
            <th>
                <div class="dropdown" style="display: inline-block;">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="makerChoice" data-toggle="dropdown" style="font-weight: bold;">
                        {% if curr_customer %}
                        {{ curr_customer.name }}
                        {% else %}
                        {{ _('Customer') }}
                        {% endif %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="makerChoice">
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="{{ url_for('requests') + '?custid=-1' }}">
                            {{ _('All') }}
                        </a></li>
                        {% for customer in customers %}
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="{{ url_for('requests') + '?custid=' + (customer.id|string) }}">
                            {{ customer.name }}
                        </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests.items %}
        <tr
                {% if request.active_flg == false %} class="success" {% endif %}
                onclick="window.location.href = '{{ url_for("request_detail", id=request.id) }}'">
            <td class="clickable-td td-border-left-2px">{{ request.id }}</td>
            <td class="clickable-td">{{ momentjs(request.created_dt).format('LLL') }}</td>
            <td class="clickable-td">{{ request.receiver.nickname }}</td>
            <td class="clickable-td td-border-right-2px">{{ request.customer.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <br>

    <!-- PAGINATION -->
    {% from "_pagination.html" import render_pager %}
    {{ render_pager(requests, 'requests') }}

</div>
{% endif %}

{% endblock %}