<h3>推薦していただいたお客様に商品を発送いたしました。</h3>

<p>{{ superior.name }}様</p>

<p>推薦していただいたお客様に納品しましたのでご案内します。<br />
今月末に当お客様の納品分総額を分配いたします。</p>

<h4>納品の詳細：</h4>
<table>
    <tr>
        <th>お客様の名前：</th><td>{{ recommended_name }}</td>
    </tr>
    <tr>
        <th>納品総額:</th><td>{{ value }}円</td>
    </tr>
    <tr>
        <th>分配率：</th><td>{{ share_percent * 100 }}%</td>
    </tr>
    <tr>
        <th>分配金額：</th><td>{{ value * share_percent }}円</td>
    </tr>
</table>

<p>このメールは今後必要となる場合がございますので大切に保管いただきますようお願い申し上げます。</p>

<p>今後ともアクシス・ムンディをご愛顧のほど宜しくお願い申し上げます。</p>

<p>ご不明な点、ご不都合等ございましたら本メール返信宛、もしくは下記までお問い合わせくださいませ。</p>

<p>Axis Mundi株式会社</p>
<p>〒160-0022<br />
東京都新宿区<br />
新宿2-6-3<br />
藤和新宿コープ810<br />
電話番号：03-6380-6454</p>

<p>お電話受付時間：月曜日〜金曜日(祝祭日を除く)、09:00〜17：00</p>