<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment-with-locales.js"></script>
    <script src="/static/js/jquery-scrolltofixed-min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

    {% if title %}
    <title>{{title}} - AxiStore</title>
    {% else %}
    <title>AxiStore</title>
    {% endif %}

    <script>
        moment.locale('{{ g.user.language if g.user.language else 'en' }}');
        $.ajaxSetup({ cache: false });
    </script>
</head>

<body>
    {% if g.user and g.user.role == g.USER_ROLES['ROLE_CUSTOMER'] %}
        {% include 'navbar_customer.html' %}
    {% elif g.user and g.user.role == g.USER_ROLES['ROLE_MAKER'] %}
        {% include 'navbar_maker.html' %}
    {% else %}
        {% include 'navbar_admin.html' %}
    {% endif %}

    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>