{% extends "base.html" %}
{% block content %}
<h1>{{ _('Settings') }}</h1>
{% include 'flash.html' %}

<br/>
<div>
    <a href="{{ url_for('users') }}">{{ _('Manage users') }}</a>
</div>

<br/>
<div>
    <a href="{{ url_for('categories') }}">{{ _('Manage product categories') }}</a>
</div>
<div>
    <a href="{{ url_for('editCatalog') }}">{{ _('Manage catalog terms') }}</a>
</div>

<br/>
<div>
    <a href="{{ url_for('makers') }}">{{ _('Manage makers') }}</a>
</div>
<div>
    <a href="{{ url_for('customers') }}">{{ _('Manage customers') }}</a>
</div>
<div>
    <a href="{{ url_for('contacts') }}">{{ _('Manage contacts') }}</a>
</div>

<br/>
<div>
    <a href="{{ url_for('dataImport') }}">{{ _('Import data from csv') }}</a>
</div>
<div>
    <a href="{{ url_for('dataExport') }}">{{ _('Export data as csv') }}</a>
</div>
        <div>
    <a href="{{ url_for('customerCodes') }}">{{ _('Customer codes management') }}</a>
</div>

{% endblock %}