{% macro build_sort_num_list(field) -%}
    {% set order_num = 0 %}
    {% if session['order_type'] and session['order_type'][:3] == field[:3] %}
        {% set order_num = (session['order_type'][-1:]|int) %}
    {% endif %}

    {% set glyph = {0: 'sort', 1: 'sort-by-attributes-alt', 2: 'sort-by-attributes',
        3: 'sort-by-attributes-alt', 4: 'sort-by-attributes',
        5: 'sort-by-attributes-alt', 6: 'sort-by-attributes'} %}
    {% set color = {0: 'grey', 1: '#2a6496', 2: '#2a6496', 3: '#006600', 4: '#006600', 5: '#CC0000', 6: '#CC0000'} %}
    <span class="glyphicon glyphicon-{{ glyph[order_num]|string }} dropdown-toggle sorter" id="dropdown_{{ field }}" data-toggle="dropdown"
          style="color: {{ color[order_num]|string }};"></span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown_{{ field }}">
        <li><a href="{{ url_for('stock') + '?ord=' + field + '-1' }}">{{ _('descending') }}</a></li>
        <li><a href="{{ url_for('stock') + '?ord=' + field + '-2' }}">{{ _('ascending') }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('stock') + '?ord=' + field + '-3' }}">{{ _('descending > 0') }}</a></li>
        <li><a href="{{ url_for('stock') + '?ord=' + field + '-4' }}">{{ _('ascending > 0') }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('stock') + '?ord=' + field + '-5' }}">{{ _('descending <= 0') }}</a></li>
        <li><a href="{{ url_for('stock') + '?ord=' + field + '-6' }}">{{ _('ascending <= 0') }}</a></li>
    </ul>
{%- endmacro %}

{% macro build_sort_str_list(field) -%}
    {% set order_num = 0 %}
    {% if session['order_type'] and session['order_type'][:3] == field[:3] %}
        {% set order_num = (session['order_type'][-1:]|int) %}
    {% endif %}

    {% set glyph = {0: 'sort', 1: 'sort-by-attributes-alt', 2: 'sort-by-attributes'} %}
    {% set color = {0: 'grey', 1: '#2a6496', 2: '#2a6496'} %}
    <span class="glyphicon glyphicon-{{ glyph[order_num]|string }} dropdown-toggle sorter" id="dropdown_{{ field }}" data-toggle="dropdown"
          style="color: {{ color[order_num]|string }};"></span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown_{{ field }}">
        <li><a href="{{ url_for('stock') + '?ord=' + field + '-2' }}">{{ _('ascending') }}</a></li>
        <li><a href="{{ url_for('stock') + '?ord=' + field + '-1' }}">{{ _('descending') }}</a></li>
    </ul>
{%- endmacro %}

{% extends "base.html" %}
{% block content %}

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<script>
 var axm_url = '{{ axm_product_url }}';

    $(function() {
        $( "#tabs-categories" ).sortable({
            items: "> li:not(:first)",
            axis: 'x',
            update: function (event, ui) {
                var data = $(this).sortable('serialize');
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: '/categories/saveorder'
                });
            }
        });
    });

    function checkSearch() {
        string = $('#search_bar').val();
        if (string.length > 1) { return true; }
        return false;
    }

$(document).ready( function() {

    $(".fancybox").fancybox();

    $('.td-redir-edit').bind('click', function(event) {
        id = $(this).parent().attr('id');
        if (event.ctrlKey) {
            window.open('{{ url_for("editProduct") }}' + '/' + id + '?stock_page={{ products.page }}');
        } else {
            window.location.href = '{{ url_for("editProduct") }}' + '/' + id + '?stock_page={{ products.page }}';
        }
    });

    $('.td-qty-edit').click( function() {
        $(this).addClass('td-border-highlighted');
        div = $(this).find('div');
        $(div).show();
        $(div).find('input[type="text"]').focus();
        $(div).scrollToFixed();
    });

    $('.div-qty-stock-edit').focusout( function() {
        $(this).hide();
        $('.td-qty-edit').removeClass('td-border-highlighted');
    });

    $('.submit-qty-stock-edit').blur( function(event) {
        t = $(this).parent().find('input[type="text"]').val();
        if (t != '' && t != null) {
            $(this).trigger('click');
        }
    });

    $('.product-row').hover(function() {
        $(this).find('.row-indicator-left').addClass('row-indicator-left-on');
        $(this).find('.row-indicator-right').addClass('row-indicator-right-on');
    }, function() {
        $(this).find('.row-indicator-left').removeClass('row-indicator-left-on');
        $(this).find('.row-indicator-right').removeClass('row-indicator-right-on');
    });

    $('.axm_link').bind('click', function(event) {
        var node = $(this).attr('id').split('-')[1];
        var target_url = axm_url + node;
        if (event.ctrlKey) {
            target_url = target_url + '/edit';
        }
        window.open(target_url);
    });

    $('.catalog-a').hover(function() {
        $(this).siblings(".catalog-terms-hover-div").show('fast');
    }, function() {
        $(this).siblings(".catalog-terms-hover-div").hide('fast');
    });

});
</script>


<div class="row">
    <div style="float: left;">
        <h3>{{ _('Stock overview') }}</h3>
    </div>
    <div style="float: right; margin-top: 5px;">
        <form action="{{ url_for('search') }}" method="post" name="form_search" class="form-inline">
            <div class="input-group">
                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-search"></span></div>
                {{ form_search.search(id="search_bar", class="form-control input-sm", size=30) }}
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-info form-control input-sm btn-sm" onclick="return checkSearch();" value="OK"/>
                </span>
            </div>
            {% for error in form_search.errors.search %}<div>[{{error}}]</div>{% endfor %}
        </form>
        {% if curr_search %}
            <div class="clearfix" style="margin-top: 5px; padding: 2px 5px; border: 1px solid #dddddd;
                background-color: #eeeeee; border-radius: 3px; -webkit-box-shadow: 0 0 3px 3px #78AEFF; box-shadow: 0 0 3px 3px #78AEFF;">
                <div style="float: left;">{{ _('Search results:') }}&nbsp;<span style="color: crimson;">{{ curr_search }}</span></div>
                <div style="float: right;"><a href="{{ url_for('clearsearch') }}"><button type="button" class="close">&times;</button></a></div>
            </div>
        {% endif %}
    </div>
</div>

<div class="row">{% include 'flash.html' %}</div>

<div class="row" style="margin: 0 -40px -40px -40px !important;">

{% if categories %}
    <ul id="tabs-categories" class="nav nav-tabs" role="tablist" style="margin: 0 6px 0 7px;">
        <li {% if g.category_id == None or g.category_id == 0 %} class="active" {% endif %} >
            <a href="{{ url_for('stock', search=session['search_string'], cat=0) }}" style="color: red;">{{ _('All') }}</a>
        </li>
        {% for category in categories %}
            <li id="cat_{{ category.id }}" {% if g.category_id == category.id %} class="active" {% endif %} >
                <a href="{{ url_for('stock') + '?cat=' + (category.id|string) }}">{{ category.name_CS }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}


{% if products %}
<table class="table table-hover table-condensed table-striped table-responsive table-stock" style="font-size: 0.9em;">
<thead>
    <tr>
        <th class="no-border row-indicator-left"></th>
        <th class="td-border-left-1px" style="text-align: center;"><span class="glyphicon glyphicon-barcode"></span>&nbsp;
            <a href="{{ url_for('stock') + '?ord=code-2' }}">
                <span class="glyphicon glyphicon-arrow-down sorter" style="color: grey;"></span>
            </a>
        </th>
        <th><span class="glyphicon glyphicon-book"></span></th>
        <th><span class="glyphicon glyphicon-camera"></span></th>
        <th><span class="glyphicon glyphicon-th-large"></span></th>
        <th><span class="glyphicon glyphicon-shopping-cart"></span></th>
        <th>
            <div class="dropdown" style="display: inline-block;">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="makerChoice" data-toggle="dropdown" style="font-weight: bold;">
                    {% if curr_maker_name %}
                    {{ curr_maker_name }}
                    {% else %}
                    {{ _('Maker') }}
                    {% endif %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="makerChoice">
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="{{ url_for('stock') + '?mak=-1' }}">
                        {{ _('All') }}
                    </a></li>
                    {% for maker in makers %}
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="{{ url_for('stock') + '?mak=' + (maker.id|string) }}">
                        {{ maker.name }}
                    </a></li>
                    {% endfor %}
                </ul>
                <div class="dropdown" style="display: inline-block;">{{ build_sort_str_list('maker') }}</div>
            </div>
        </th>
        <th><div class="dropdown">{{ _('Description CS') }}&nbsp;{{ build_sort_str_list('csdesc') }}</div></th>
        <th><div class="dropdown">{{ _('Description JP') }}&nbsp;{{ build_sort_str_list('jpdesc') }}</div></th>
        <th style="text-align: right;"><div class="dropdown"><span class="glyphicon glyphicon-usd"></span>
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;{{ build_sort_str_list('unitp') }}</div></th>
        <th style="text-align: right;"><div class="dropdown"><span class="glyphicon glyphicon-usd"></span>
            <span class="glyphicon glyphicon-log-out"></span>&nbsp;{{ build_sort_str_list('retap') }}</div></th>
        <th style="text-align: right; width: 2%; white-space: nowrap;" class="td-border-left-1px">
            <div class="dropdown"><span class="glyphicon glyphicon-home"></span>{{ build_sort_num_list('stock') }}</div>
        </th>
        <th style="text-align: right; width: 2%; white-space: nowrap;" class="td-border-left-1px">
            <div class="dropdown"><span class="glyphicon glyphicon-minus-sign"></span>{{ build_sort_num_list('req') }}</div>
        </th>
        <th style="text-align: right; width: 2%; white-space: nowrap;" class="td-border-left-1px">
            <div class="dropdown"><span class="glyphicon glyphicon-plus-sign"></span>{{ build_sort_num_list('ord') }}</div>
        </th>
        <th style="text-align: right; width: 2%; white-space: nowrap;" class="td-border-left-1px td-border-right-1px">
            <div class="dropdown"><span class="glyphicon glyphicon-ok-sign"></span>{{ build_sort_num_list('net') }}</div>
        </th>
        <th class="no-border row-indicator-right"></th>
    </tr>
</thead>
<tbody>
    {% for product in products.items %}
    <tr id="{{ product.id }}" class="product-row">
        <td class="no-border row-indicator-left"></td>
        <td class="clickable-td td-redir-edit td-border-left-2px {% if loop.last %}td-border-bottom-2px{% endif %}">{{product.code}}</td>
        <td class="clickable-td td-redir-edit td-border-left-1px {% if loop.last %}td-border-bottom-2px{% endif %}">
            {% if product.catalog_terms|length < 1 %}
                <span class="glyphicon glyphicon-remove" style="color: crimson;"></span>
            {% else %}
                <a class="catalog-a"><span class="glyphicon glyphicon-ok"></span></a>
                <div class="catalog-terms-hover-div" style="display: none; position: absolute; z-index: 1000;">
                    {% for term in product.catalog_terms|sort(attribute='catalog.order') %}
                        {% if term.catalog.super_id == None %}
                            <label class="label label-sm label-success" style="display: block; margin: 0 0 0 10px;">{{ term.catalog.name_CS }}</label>
                        {% else %}
                            <label class="label label-sm label-warning" style="display: block; margin: 0 0 0 20px;">{{ term.catalog.name_CS }}</label>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </td>
        <td class="clickable-td {% if not product.img_url %}td-redir-edit{% endif %} {% if loop.last %}td-border-bottom-2px{% endif %}">
            {% if product.img_url %}
                <a class="fancybox" rel="group" href="{{ product.img_url.split('app')[1] }}">
                    <span class="glyphicon glyphicon-picture"></span>
                </a>
            {% endif %}
        </td>
        <td class="clickable-td td-redir-edit {% if loop.last %}td-border-bottom-2px{% endif %}">
            {% if product.package_size == 0 %}
                <a><span class="glyphicon glyphicon-envelope"></span></a>
            {% elif product.package_size == 1 %}
                <a><span class="glyphicon glyphicon-folder-open"></span></a>
            {% elif product.package_size == 2 %}
                <a><span class="glyphicon glyphicon-gift"></span></a>
            {% endif %}
        </td>
        <td class="clickable-td {% if not product.axm_node %}td-redir-edit{% endif %} {% if loop.last %}td-border-bottom-2px{% endif %}">
            {% if product.axm_node %}
                <a class="axm_link" id="axm_node-{{ product.axm_node }}">
                    <span class="glyphicon glyphicon-share"></span>
                </a>
            {% endif %}
        </td>
        <td class="clickable-td td-redir-edit td-border-left-1px {% if loop.last %}td-border-bottom-2px{% endif %}">{{product.maker.name}}</td>
        <td class="clickable-td td-redir-edit {% if loop.last %}td-border-bottom-2px{% endif %}">{{product.desc_CS}}</td>
        <td class="clickable-td td-redir-edit {% if loop.last %}td-border-bottom-2px{% endif %}">{{product.desc_JP}}</td>
        <td class="clickable-td td-redir-edit {% if loop.last %}td-border-bottom-2px{% endif %}" style="text-align: right;">{{product.price_unit}}</td>
        <td class="clickable-td td-redir-edit {% if loop.last %}td-border-bottom-2px{% endif %}" style="text-align: right;">{{product.price_retail}}</td>

        <form action="" method="post" name="form">
            {{form.hidden_tag()}}
            {% if product.qty_stock == None %}
            <td style="text-align: center; color: red;" class="warning clickable-td linked-td td-qty-edit td-border-left-2px {% if loop.last %}td-border-bottom-2px{% endif %}">?
            {% elif product.qty_stock <= 0 %}
            <td style="text-align: right;" class="danger clickable-td linked-td td-qty-edit td-border-left-2px {% if loop.last %}td-border-bottom-2px{% endif %}">{{product.qty_stock}}
            {% else %}
            <td style="text-align: right;" class="clickable-td linked-td td-qty-edit td-border-left-2px {% if loop.last %}td-border-bottom-2px{% endif %}">{{product.qty_stock}}
            {% endif %}
                <div class="div-qty-stock-edit" style="display: none; position: absolute;">
                    <p>{{ form.qty_stock( class="control", size=5, style="color: black; text-align: right;") }}
                    <input type="submit" class="submit-qty-stock-edit" value="OK">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="page" value="{{ products.page }}">
                    </p>
                </div>
            </td>
        </form>

        <td style="text-align: right;" class="clickable-td linked-td td-border-left-1px {% if loop.last %}td-border-bottom-2px{% endif %}"
                onclick="window.location.href = '{{ url_for("productrequests", id=product.id) }}'">{{ product.request_qty }}</td>

        <td style="text-align: right;" class="clickable-td linked-td td-border-left-1px {% if loop.last %}td-border-bottom-2px{% endif %}"
                onclick="window.location.href = '{{ url_for("productorders", id=product.id) }}'">{{ product.order_qty }}</td>

        {% if product.net_stock == None %}
        <td style="text-align: center; color: red;" class="warning td-border-left-1px td-border-right-2px {% if loop.last %}td-border-bottom-2px{% endif %}">?
        {% elif product.net_stock < 0 %}
        <td style="text-align: right; color: red;" class="warning td-border-left-1px td-border-right-2px {% if loop.last %}td-border-bottom-2px{% endif %}">{{product.net_stock}}
        {% else %}
        <td style="text-align: right;" class="td-border-left-1px td-border-right-2px {% if loop.last %}td-border-bottom-2px{% endif %}">{{product.net_stock}}
        {% endif %}
        </td>
        <td class="no-border row-indicator-right"></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<!-- PAGINATION -->
{% from "_pagination.html" import render_pager %}
{{ render_pager(products, 'stock') }}

{% endif %}
</div>
{% endblock %}